      <%=content_for :title do%>Les engagés volontaires du SMA
<%end%>
			        
                
        <div id="maincontainer" class="row-fluid container">
			            <div class="span12">
                <main>
                                        <div id="system-message-container">
	</div>

                    <div class="item-page" itemscope="" itemtype="https://schema.org/Article">
	<meta itemprop="inLanguage" content="fr-FR">
	
		
			<div class="page-header">
		<h2 itemprop="headline">
			Les engagés volontaires du SMA		</h2>
							</div>
					
		
	
	
		
								<div itemprop="articleBody">
		<h3>Pourquoi s’engager en tant qu’engagé volontaire du SMA (EVSMA) ?</h3>
<p>Vous êtes recruté pour remplir les fonctions de formateur et d’encadrant pour une durée de service pouvant atteindre 11 ans. Chef de filière de formation professionnelle, placé sous les ordres d’un chef de section responsable du pôle de formation, vous aurez pour missions :</p>
<ul>
<li>de participer à l’élaboration des référentiels de formation ;</li>
<li>de participer à la mise en place des emplois du temps ;</li>
<li>d’élaborer les fiches de séance ;</li>
<li>de conduire les séances de formation professionnelle ;</li>
<li>d’assurer le suivi des matériels techniques et pédagogiques ;</li>
<li>de respecter et faire respecter les mesures d’hygiène et de sécurité du travail ;</li>
<li>de participer à l’insertion des volontaires stagiaires.</li>
</ul>
<p>Par ailleurs, vous aurez un rôle de gradé d’encadrement. Vous participerez :</p>
<ul>
<li>aux différentes activités militaires et sportives ;</li>
<li>à l’encadrement de la formation militaire initiale des volontaires ;</li>
<li>aux services de l’unité ;</li>
<li>à la formation civique et morale des stagiaires, en faisant preuve d’exemplarité.</li>
</ul>
<p>&nbsp;</p>
<h3>Votre parcours&nbsp;de formation :</h3>
<p>Votre formation initiale (militaire et de spécialité) s'effectue durant les 6 premiers mois de service en deux périodes.</p>
<p>1 - La formation au Centre de Formation Initiale des Militaires du rang (CFIM) au 21ème régiment d’infanterie de Marine (21<sup>ème</sup> RIMa) à Fréjus comprend :</p>
<ul>
<li>la formation militaire initiale (FMI) d’une durée de 6 semaines au cours de laquelle sont acquis les savoir-faire fondamentaux du métier des armes et les savoir-être militaires ;</li>
<li>la formation générale élémentaire (FGE) d’une durée de 6 semaines : apprentissage de l’exercice de l’autorité et formation morale</li>
</ul>
<p>2 – La formation au détachement du SMA à Périgueux (13 semaines)&nbsp;: permet d’acquérir un complément de formation spécifique au SMA (pédagogie, relations aux entreprises et aux acteurs publiques, insertion...).</p>
<h3><br>Rémunération&nbsp;:</h3>
<p>Au RSMA Guyane, votre solde, en début de carrière, est de 1&nbsp;724, 94 € net par mois. Vous touchez une prime d’installation (si vous effectuer au moins 2 ans comme EVSMA sur le territoire guyanais) de 18&nbsp;669,12 €. Cette prime est versée en 3 fractions de 6&nbsp;223,04 €.</p>
<p>&nbsp;</p>
<h3>Critères de recrutement&nbsp;:</h3>
<p>Chaque année, 3 recrutements sont organisés en janvier, mai et octobre. Le recrutement des EVSMA s'effectue sur dossier. Pour postuler, il vous faut&nbsp;:</p>
<ul>
<li data-mce-word-list="1">avoir entre 18 et moins de 30 ans à la date de signature du contrat ;</li>
</ul>
<ul>
<li>être titulaire <em>a minima</em> d'un titre 3 (CAP, BEP, ...), dans l’une des spécialités enseignées au sein du RSMA Guyane ;</li>
<li>être de nationalité française ;</li>
<li>être en règle avec la journée défense citoyenneté (JDC, anciennement JAPD);</li>
<li>avoir un casier judiciaire compatible avec l'exercice du métier de militaire.</li>
</ul>
<p>Vous souhaitez vous engager&nbsp;? <a href="https://www.sengager.fr/ou-nous-rencontrer" target="_blank" rel="noopener"><strong>Contactez</strong></a> le centre d’information et de recrutement des forces armées (CIRFA) le plus proche de chez vous<em>.</em></p>
<p>&nbsp;</p> 	</div>

	
							</div>

                                    </main>
            </div>
                    </div>

        		
        <div id="bottom" class="container">
        	
        </div>

                
