      <%=content_for :title do%>S'engager au RSMA
<%end%>
			        <div id="fil_ariane">
        	<div class="container">
            	<div aria-label="Fil de navigation" role="navigation">
	<ul itemscope="" itemtype="https://schema.org/BreadcrumbList" class="breadcrumb">
					<li class="active">
				<span class="divider icon-location"></span>
			</li>
		
						<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
											<a itemprop="item" href="https://www.rsmaguyane.fr/" class="pathway"><span itemprop="name">Accueil</span></a>
					
											<span class="divider">
							/						</span>
										<meta itemprop="position" content="1">
				</li>
							<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem" class="active">
					<span itemprop="name">
						S'engager au RSMA					</span>
					<meta itemprop="position" content="2">
				</li>
				</ul>
</div>

            </div>
        </div>
                
                
        <div id="maincontainer" class="row-fluid container">
			            <div class="span12">
                <main>
                                        <div id="system-message-container">
	</div>

                    <div class="item-page" itemscope="" itemtype="https://schema.org/Article">
	<meta itemprop="inLanguage" content="fr-FR">
	
		
			<div class="page-header">
		<h2 itemprop="headline">
			S'engager au RSMA		</h2>
							</div>
					
		
	
	
		
								<div itemprop="articleBody">
		 	</div>

	
							</div>

                                    </main>
            </div>
                    </div>

        		
        <div id="bottom" class="container">
        	
        </div>

                
