      <%=content_for :title do%>Être réserviste
<%end%>
			        
                
        <div id="maincontainer" class="row-fluid container">
			            <div class="span12">
                <main>
                                        <div id="system-message-container">
	</div>

                    <div class="item-page" itemscope="" itemtype="https://schema.org/Article">
	<meta itemprop="inLanguage" content="fr-FR">
	
		
			<div class="page-header">
		<h2 itemprop="headline">
			Être réserviste		</h2>
							</div>
					
		
	
	
		
								<div itemprop="articleBody">
		<p><img src="./reserviste_files/ob_28940a_logo-reserve-militaire.jpg" alt="ob 28940a logo reserve militaire" width="250" height="250" style="margin-right: 10px; margin-bottom: 10px; float: left;">Le RSMA Guyane recrute des réservistes opérationnels pour servir à Saint-Jean du Maroni ou à Cayenne afin d’apporter un renfort temporaire lors de certains événements/actions, pour participer au service quotidien du régiment, pour apporter une expertise dans certains domaines… &nbsp;</p>
<p>Toutes les informations concernant la réserve opérationnelle <a href="https://garde-nationale.gouv.fr/" target="_blank" rel="noopener"><strong>ici</strong></a>.</p> 	</div>

	
							</div>

                                    </main>
            </div>
                    </div>

        		
        <div id="bottom" class="container">
        	
        </div>

                
