      <%=content_for :title do%>Devenir volontaire stagiaire
<%end%>
			        
                
        <div id="maincontainer" class="row-fluid container">
			            <div class="span12">
                <main>
                                        <div id="system-message-container">
	</div>

                    <div class="item-page" itemscope="" itemtype="https://schema.org/Article">
	<meta itemprop="inLanguage" content="fr-FR">
	
		
			<div class="page-header">
		<h2 itemprop="headline">
			Devenir volontaire stagiaire		</h2>
							</div>
					
		
	
	
		
								<div itemprop="articleBody">
		<p>Vous serez formé et évalué sur quatre domaines fondamentaux&nbsp;:</p>
<ul>
<li>Une formation citoyenne,</li>
<li>Une formation aux premiers secours (sauveteur secouriste au travail),</li>
<li>Une formation scolaire pour consolider les connaissances de bases (pour tous) et obtenir le certificat de formation générale (la préparation au CFG est réservée aux volontaires non diplômés),</li>
<li>Une formation professionnelle (savoir-faire technique et comportemental)</li>
</ul>
<h3>Votre parcours&nbsp;de formation :</h3>
<p>Plusieurs parcours existent en fonction de votre profil et du choix de votre formation&nbsp;:</p>
<ul>
<li>Un cursus long (6, 10 ou 12 mois) si vous êtes sans diplôme: ce cursus vous aidera à finaliser ou consolider votre projet professionnel. Vous pourrez accéder à l’emploi direct mais nous vous accompagnerons aussi vers la poursuite de formation avec d’autres partenaires, si cela était votre souhait, pour acquérir un titre professionnel;</li>
<li>Un cursus court (6 mois) si vous êtes titulaire d’un CAP ou BEP et que vous voulez rebondir rapidement.</li>
</ul>
<p>Dans tous les cas, vous pourrez présenter le permis de conduire (B) si vous ne le possédez pas.</p>
<p>Vous bénéficierez d’une nouvelle impulsion, consoliderez et compléterez vos compétences techniques afin d’accéder à l’emploi dès la sortie du RSMA Guyane.</p>
<p>&nbsp;</p>
<h3>Rémunération&nbsp;:</h3>
<p>Environ 315 € net par mois, logé et nourri. Vous êtes éligible à la prime d’activité.</p>
<p>&nbsp;</p>
<h3>Critères de recrutement&nbsp;:</h3>
<ul>
<li>avoir sa résidence habituelle en Guyane ;</li>
<li>avoir entre 18 et 25 ans à la date de signature du contrat ;</li>
<li>être de nationalité française&nbsp;;</li>
<li>être en règle avec la journée défense citoyenneté (JDC, anciennement JAPD);</li>
<li>avoir un casier judiciaire compatible avec l'exercice du métier de militaire.<br><br></li>
</ul>
<h3>Découvrir nos formations&nbsp;: cliquez <a href="https://www.rsmaguyane.fr/nos-formations.html" target="_blank" rel="noopener">ICI</a>&nbsp;</h3>
<p>Vous souhaitez vous engager&nbsp;? Contactez&nbsp;nos cellules Recrutement&nbsp;:</p>
<ul>
<li>à Cayenne: 06 94 44 08 27</li>
<li>à Saint-Jean du Maroni: 06 94 24 18 27</li>
<li>une adresse mail unique: <a href="mailto:recrutement@guyane-sma.fr"></a><span id="cloakec0cf012152c57133c9c040224d7c525"><a href="mailto:recrutement@guyane-sma.fr">recrutement@guyane-sma.fr</a></span><script type="text/javascript">
				document.getElementById('cloakec0cf012152c57133c9c040224d7c525').innerHTML = '';
				var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
				var path = 'hr' + 'ef' + '=';
				var addyec0cf012152c57133c9c040224d7c525 = 'r&#101;cr&#117;t&#101;m&#101;nt' + '&#64;';
				addyec0cf012152c57133c9c040224d7c525 = addyec0cf012152c57133c9c040224d7c525 + 'g&#117;y&#97;n&#101;-sm&#97;' + '&#46;' + 'fr';
				var addy_textec0cf012152c57133c9c040224d7c525 = 'r&#101;cr&#117;t&#101;m&#101;nt' + '&#64;' + 'g&#117;y&#97;n&#101;-sm&#97;' + '&#46;' + 'fr';document.getElementById('cloakec0cf012152c57133c9c040224d7c525').innerHTML += '<a ' + path + '\'' + prefix + ':' + addyec0cf012152c57133c9c040224d7c525 + '\'>'+addy_textec0cf012152c57133c9c040224d7c525+'<\/a>';
		</script></li>
<li><a href="https://www.rsmaguyane.fr/images/Documents_%C3%A0_fournir/Documents_%C3%A0_fournir_engagement/Documents_%C3%A0_fournir.png">Documents à fournir pour un engagement lors de votre passage à la cellule Recrutement</a></li>
</ul> 	</div>

	
							</div>

                                    </main>
            </div>
                    </div>

        		
        <div id="bottom" class="container">
        	
        </div>

                
