      <%=content_for :title do%>Devenir volontaire technicien
<%end%>
			        
                
        <div id="maincontainer" class="row-fluid container">
			            <div class="span12">
                <main>
                                        <div id="system-message-container">
	</div>

                    <div class="item-page" itemscope="" itemtype="https://schema.org/Article">
	<meta itemprop="inLanguage" content="fr-FR">
	
		
			<div class="page-header">
		<h2 itemprop="headline">
			Devenir volontaire technicien 		</h2>
							</div>
					
		
	
	
		
								<div itemprop="articleBody">
		<h3>Pourquoi s’engager comme volontaire technicien ?</h3>
<ul>
<li>Vous êtes diplômé dans un domaine technique</li>
<li>Vous êtes motivé pour encadrer des jeunes en formation</li>
<li>Vous êtes à la recherche d’une première expérience professionnelle</li>
</ul>
<p>Fort de vos savoirs, vous devrez aider le formateur (un cadre militaire) dans tous les travaux d’apprentissage. Cette expérience unique vous permettra de consolider vos acquis tout en vous formant à l’enseignement et au <em>management</em>.&nbsp;</p>
<p>Intégré dans votre unité et recruté sous statut militaire pour un contrat d’un an (renouvelable 4 fois), vous aurez l’opportunité de vivre au sein d’une institution militaire et de partager nos valeurs, notre mode de vie et nos traditions.&nbsp;</p>
<p>Après votre formation militaire initiale d’1 mois qui se déroulera à Saint-Jean du Maroni, vous serez affecté dans votre compagnie de formation professionnelle à Cayenne ou à Saint-Jean du Maroni.</p>
<p>Lorsque vous aurez acquis suffisamment d’expérience professionnelle, le RSMA Guyane vous accompagnera dans vos démarches afin de trouver l’emploi le plus adapté à votre futur projet professionnel.</p>
<p>&nbsp;<img src="./vt_files/IMG_1400.jpg" alt="IMG 1400" width="350" height="263" style="margin-right: 10px; margin-bottom: 10px;"></p>
<h3>Rémunération&nbsp;:</h3>
<p>Environ 913 € net par mois, logé et nourri. Vous êtes éligible à la prime d’activité.</p>
<p>Critères de recrutement&nbsp;:</p>
<ul>
<li>avoir sa résidence habituelle en Guyane ;</li>
<li>Avoir entre 18 et 25 ans à la date de signature du contrat&nbsp;&nbsp;</li>
<li>être de nationalité française&nbsp;;</li>
<li>avoir effectué la journée défense citoyenneté (JDC, anciennement JAPD)</li>
<li>avoir un casier judiciaire compatible avec l'exercice du métier de militaire&nbsp;&nbsp;</li>
<li>être titulaire d’un BEP, CAP ou baccalauréat</li>
</ul>
<p>Vous souhaitez vous engager&nbsp;? Contactez&nbsp;nos cellules Recrutement&nbsp;:</p>
<ul>
<li>à Cayenne: 06 94 44 08 27</li>
<li>à Saint-Jean du Maroni: 06 94 24 18 27</li>
<li>une adresse mail unique: <a href="mailto:recrutement@guyane-sma.fr"></a><span id="cloakbb71d2b893f5b020e121437bef4840a3"><a href="mailto:recrutement@guyane-sma.fr">recrutement@guyane-sma.fr</a></span><script type="text/javascript">
				document.getElementById('cloakbb71d2b893f5b020e121437bef4840a3').innerHTML = '';
				var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
				var path = 'hr' + 'ef' + '=';
				var addybb71d2b893f5b020e121437bef4840a3 = 'r&#101;cr&#117;t&#101;m&#101;nt' + '&#64;';
				addybb71d2b893f5b020e121437bef4840a3 = addybb71d2b893f5b020e121437bef4840a3 + 'g&#117;y&#97;n&#101;-sm&#97;' + '&#46;' + 'fr';
				var addy_textbb71d2b893f5b020e121437bef4840a3 = 'r&#101;cr&#117;t&#101;m&#101;nt' + '&#64;' + 'g&#117;y&#97;n&#101;-sm&#97;' + '&#46;' + 'fr';document.getElementById('cloakbb71d2b893f5b020e121437bef4840a3').innerHTML += '<a ' + path + '\'' + prefix + ':' + addybb71d2b893f5b020e121437bef4840a3 + '\'>'+addy_textbb71d2b893f5b020e121437bef4840a3+'<\/a>';
		</script></li>
<li>Télécharger le dossier d'engagement</li>
<li><a href="https://www.rsmaguyane.fr/images/Documents_%C3%A0_fournir/Documents_%C3%A0_fournir_engagement/Documents_%C3%A0_fournir.png">Documents à fournir pour un engagement lors de votre passage à la cellule Recrutement</a></li>
</ul> 	</div>

	
							</div>

                                    </main>
            </div>
                    </div>

        		
        <div id="bottom" class="container">
        	
        </div>

                
