<%=content_for :title do%>
Nous situer
<%end%>
						        <div id="fil_ariane">
        	<div class="container">
            	<div aria-label="Fil de navigation" role="navigation">
	<ul itemscope="" itemtype="https://schema.org/BreadcrumbList" class="breadcrumb">
					<li class="active">
				<span class="divider icon-location"></span>
			</li>
		
						<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
											<a itemprop="item" href="https://www.rsmaguyane.fr/" class="pathway"><span itemprop="name">Accueil</span></a>
					
											<span class="divider">
							/						</span>
										<meta itemprop="position" content="1">
				</li>
							<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
											<a itemprop="item" href="https://www.rsmaguyane.fr/rsma-guyane/implantation.html#" class="pathway"><span itemprop="name">RSMA Guyane</span></a>
					
											<span class="divider">
							/						</span>
										<meta itemprop="position" content="2">
				</li>
							<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem" class="active">
					<span itemprop="name">
						Nous situer					</span>
					<meta itemprop="position" content="3">
				</li>
				</ul>
</div>

            </div>
        </div>
                
                
        <div id="maincontainer" class="row-fluid container">
			            <div class="span12">
                <main>
                                        <div id="system-message-container">
	</div>

                    <div class="item-page" itemscope="" itemtype="https://schema.org/Article">
	<meta itemprop="inLanguage" content="fr-FR">
	
		
			<div class="page-header">
		<h2 itemprop="headline">
			Nous situer		</h2>
							</div>
					
		
	
	
		
								<div itemprop="articleBody">
		<p>Le RSMA Guyane est situé sur les anciennes emprises des deux unités du SMA de la Guyane&nbsp;: Saint-Jean du Maroni, à l’ouest et Cayenne, à l’est. Cette double localisation lui permet de se situer dans les deux principaux bassins d'emploi de la Guyane. Plus de 250 kilomètres séparent Saint-Jean du Maroni de Cayenne.</p>
<p>&nbsp;</p>
<h3>Plan du Camp NEMO</h3>
<p><img src="/noussituer_files/plannemo.jpg" alt="plannemo" width="250" height="184" style="float: left;"></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p style="text-align: left;"><a href="http://smaguyanej3.123-domaine.com/images/QuartierNEMOhd.jpg"><br>Télécharger en haute résolution<br><br></a></p>
<p>Basé à Saint-Jean du Maroni, à la frontière avec le Suriname, le camp Nemo accueille l'état-major du RSMA Guyane, les directions et 3 compagnies. Le régiment est co-localisé avec la base opérationnelle avancée du 9ème RIMa.</p>
<p>Le village, situé sur les bords du fleuve Maroni, se trouve à 17 km au sud de Saint-Laurent du Maroni, 2<sup>ème</sup> ville de Guyane.&nbsp;</p>
<p>&nbsp;</p>
<h2>Saint-Jean du Maroni : siège du RSMA de la Guyane</h2>
<table style="width: 100%; margin-left: auto; margin-right: auto;">
<tbody>
<tr>
<td>&nbsp;<img src="/noussituer_files/slmstj.jpg" alt="slmstj" width="400" height="251"></td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td>&nbsp;<img src="/noussituer_files/stj.jpg" alt="stj" width="400" height="248"></td>
</tr>
<tr>
<td>
<p>&nbsp;</p>
<p><span style="font-size: 12pt;">L'état-major avec trois compagnies est situé à Saint-Jean du Maroni, village situé sur les bords du Maroni à 17 km au sud de Saint-Laurent du Maroni.</span></p>
</td>
<td>&nbsp;</td>
<td><span style="font-size: 12pt;"><br>Le RSMA de la Guyane est installé sur le Camp NEMO, il est co-localisé avec la base opérationelle avancée du 9ème RIMa sur le bord du Maroni. </span></td>
</tr>
</tbody>
</table>
<h2><br>Le quartier Felix Eboué</h2>
<p>La 2<sup>ème</sup> compagnie de formation professionnelle, le restaurant pédagogique, le centre d’instruction élémentaire de conduite automobile ainsi que les antennes de certaines directions du RSMA Guyane sont situées à Cayenne, au quartier Felix Eboué.<br><br></p>
<h3>La 2ème Compagnie de formation professionelle, notre détachement de Cayenne</h3>
<p><img src="/noussituer_files/cay.jpg" alt="cay" width="499" height="296"></p>
<h3>Le quartier Félix Eboue</h3>
<p><img src="/noussituer_files/qfe.jpg" alt="qfe" width="500" height="314"></p>
<p>&nbsp;</p> 	</div>

	
							</div>

                                    </main>
            </div>
                    </div>

        		
        <div id="bottom" class="container">
        	
        </div>

                
     
