<%=content_for :title do%>
Les compagnies
<%end%>
						        <div id="fil_ariane">
        	<div class="container">
            	<div aria-label="Fil de navigation" role="navigation">
	<ul itemscope="" itemtype="https://schema.org/BreadcrumbList" class="breadcrumb">
					<li class="active">
				<span class="divider icon-location"></span>
			</li>
		
						<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
											<a itemprop="item" href="https://www.rsmaguyane.fr/" class="pathway"><span itemprop="name">Accueil</span></a>
					
											<span class="divider">
							/						</span>
										<meta itemprop="position" content="1">
				</li>
							<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
											<a itemprop="item" href="https://www.rsmaguyane.fr/rsma-guyane/les-compagnies.html#" class="pathway"><span itemprop="name">RSMA Guyane</span></a>
					
											<span class="divider">
							/						</span>
										<meta itemprop="position" content="2">
				</li>
							<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem" class="active">
					<span itemprop="name">
						Les compagnies					</span>
					<meta itemprop="position" content="3">
				</li>
				</ul>
</div>

            </div>
        </div>
                
                
        <div id="maincontainer" class="row-fluid container">
			            <div class="span12">
                <main>
                                        <div id="system-message-container">
	</div>

                    <div class="item-page" itemscope="" itemtype="https://schema.org/Article">
	<meta itemprop="inLanguage" content="fr-FR">
	
		
			<div class="page-header">
		<h2 itemprop="headline">
			Les compagnies		</h2>
							</div>
					
		
	
	
		
								<div itemprop="articleBody">
		<p>Les compagnies, commandées par un capitaine, sont articulées en section de formation professionnelle regroupant une ou plusieurs filières de formation.&nbsp; Chaque section est composée d’un sous-officier chef de section, secondé éventuellement par un adjoint, appuyé par des chefs de filières. Les filières accueillent 12 à 20 volontaires stagiaires.</p>
<p>Les compagnies de formation professionnelle, auparavant compagnies de travaux puis compagnies de travaux école, sont nées après la circonscription de 1999.</p>
<p>&nbsp;</p>
<table style="width: 100%; margin-left: auto; margin-right: auto;">
<tbody>
<tr>
<td><img src="/lescompagnies_files/Insigne_CFPLI.PNG" alt="Insigne CFPLI" width="290" height="296" style="display: block; margin-left: auto; margin-right: auto;">&nbsp;</td>
<td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
<td>
<p>La compagnie de formation professionnelle, de logistique et d’instruction, ou CFPLI, est la compagnie d’instruction et de soutien du RSMA Guyane. Elle est héritière de la compagnie d’instruction et de formation professionnelle du groupement du SMA (GSMA) créé en 1961.</p>
<p>Basée à Saint-Jean du Maroni, elle a pour mission d’organiser et de dispenser les formations militaires initiales (FMI) au profit des volontaires. Elle est composée de 4 sections&nbsp;:</p>
<ul>
<li>3 sections FMI</li>
<li>1 section pour la filière de formation professionnelle «<a href="https://www.rsmaguyane.fr/nos-formations/formations-professionnelles/agent-de-prevention-et-de-securite.html" target="_blank" title="agent de prévention et de sécurité"><strong>agent de prévention et de sécurité</strong></a>»</li>
</ul>
<p>Iracoubo est la ville marraine de la CFPLI.</p>
</td>
</tr>
<tr>
<td>&nbsp;<img src="/lescompagnies_files/INSIGNE_RSMA_GUYANE_CFP1_OK.PNG" alt="INSIGNE RSMA GUYANE CFP1 petit encadre" width="95" height="172" style="display: block; margin-left: auto; margin-right: auto;"></td>
<td>&nbsp;</td>
<td>
<p>&nbsp;</p>
<p><br>La 1<sup>ère</sup> compagnie de formation professionnelle, ou CFP1, basée à Saint-Jean du Maroni est composée de 3 sections professionnelles comprenant 9 filières de formation&nbsp;:</p>
<ul>
<li><strong><a href="https://www.rsmaguyane.fr/nos-formations/formations-professionnelles/agent-d-entretien-du-batiment-10-mois.html" target="_blank" title="Agent d’entretien du bâtiment, 10 mois">Agent d’entretien du bâtiment</a></strong> (10 mois),</li>
<li><a href="https://www.rsmaguyane.fr/nos-formations/formations-professionnelles/installateur-sanitaire-plomberie-metiers-du-froid.html"><strong>Installateur sanitaire plombier / métiers du froid</strong></a>,</li>
<li><a href="https://www.rsmaguyane.fr/nos-formations/formations-professionnelles/electricien-d-equipement.html" target="_blank" title="Électricien d’équipement"><strong>Électricien d’équipement</strong></a>,</li>
<li><a href="https://www.rsmaguyane.fr/nos-formations/formations-professionnelles/menuisier-en-batiment-menuiserie-charpente.html"><strong>Menuiserie en bâtiment / menuiserie charpente</strong></a>,</li>
<li><strong><a href="https://www.rsmaguyane.fr/nos-formations/formations-professionnelles/menuisier-en-batiment-menuiserie-agencement.html" target="_blank" title="Menuiserie en bâtiment / menuiserie agencement">Menuiserie en bâtiment / menuiserie agencement</a>,</strong></li>
<li><a href="https://www.rsmaguyane.fr/nos-formations/formations-professionnelles/conducteur-d-engins-de-travaux-publics.html" target="_blank" title="Conducteur d’engins Travaux Publics"><strong>Conducteur d’engins Travaux Publics</strong></a>,</li>
<li><a href="https://www.rsmaguyane.fr/nos-formations/formations-professionnelles/voirie-reseau-divers.html" target="_blank" title="Voirie réseaux divers"><strong>Voirie réseaux divers</strong></a>,</li>
<li><a href="https://www.rsmaguyane.fr/nos-formations/formations-professionnelles/macon.html" target="_blank" title="Maçon"><strong>Maçon</strong></a>,</li>
<li><a href="https://www.rsmaguyane.fr/nos-formations/formations-professionnelles/remise-a-niveau-et-employabilite.html" target="_blank" title="Remise à niveau et employabilité / secondaire"><strong>Remise à niveau et employabilité / secondaire</strong></a>.</li>
</ul>
<p>Awala-Yalimapo, situé sur le littoral ouest, est la ville marraine de la CFP1.</p>
</td>
</tr>
<tr>
<td>&nbsp;<img src="/lescompagnies_files/insigne_CFP2.jpg" alt="2CFP" width="476" height="506" style="display: block; margin-left: auto; margin-right: auto;"></td>
<td>&nbsp;</td>
<td>
<p><br><br>La 2ème compagnie de formation professionnelle, ou CFP2, est stationnée à Cayenne, quartier Felix Eboué ou camp du Tigre, sur l’ancien site du 3ème RSMA dissous en 2008. Elle est composée de 5 sections professionnelles comprenant 8 filières de formation&nbsp;:</p>
<ul>
<li><a href="https://www.rsmaguyane.fr/nos-formations/formations-professionnelles/agent-de-prevention-et-de-securite.html" target="_blank" title="Agent de prévention et de sécurité"><strong>Agent de prévention et de sécurité</strong></a>,</li>
<li><strong><a href="https://www.rsmaguyane.fr/nos-formations/formations-professionnelles/agent-polyvalent-de-restauration.html" target="_blank" title="Agent polyvalent de restauration">Agent polyvalent de restauration</a></strong> avec 2 sous-filières: cuisinier et agent de salle,</li>
<li><a href="https://www.rsmaguyane.fr/nos-formations/formations-professionnelles/petite-enfance.html" target="_blank" title="Petite enfance"><strong>Petite enfance</strong></a>,</li>
<li><strong><a href="https://www.rsmaguyane.fr/nos-formations/formations-professionnelles/plateforme-poursuite-de-formation.html">Plateforme poursuite de formation</a>,</strong></li>
<li><a href="https://www.rsmaguyane.fr/nos-formations/formations-professionnelles/conducteur-transport-routier.html" target="_blank" title="Conducteur transport routier"><strong>Conducteur transport routier</strong></a>,</li>
<li><a href="https://www.rsmaguyane.fr/nos-formations/formations-professionnelles/agent-magasinier.html" target="_blank" title="Agent magasinier"><strong>Agent magasinier</strong></a>,</li>
<li><strong><a href="https://www.rsmaguyane.fr/nos-formations/formations-professionnelles/agent-d-entretien-du-batiment.html" target="_blank" title="Agent d’entretien du bâtiment">Agent d’entretien du bâtiment</a> </strong>(6 mois),</li>
<li><strong><a href="https://www.rsmaguyane.fr/nos-formations/formations-professionnelles/developpeur-web.html">Développeur web</a>.</strong></li>
</ul>
<p>Cette compagnie est en charge de la gestion organique du centre d’instruction élémentaire de conduite agréée (CIECA) et du restaurant pédagogique.</p>
<p>Remire-Montjoly est la ville marraine de la CFP2.</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<table style="width: 100%; margin-left: auto; margin-right: auto;">
<tbody>
<tr>
<td>&nbsp;<img src="/lescompagnies_files/insigne_3ème_CFP.jpg" alt="2CFP" width="392" height="523" style="display: block; margin-left: auto; margin-right: auto;"></td>
<td>&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;</td>
<td>
<p>La 3<sup>e</sup> compagnie de formation professionnelle, ou CFP3, est la compagnie la plus récente du RSMA Guyane. Créée en juillet 2020 à Saint-Jean du Maroni, elle est composée de 2 sections comprenant 6 filières de formation&nbsp;:</p>
<ul>
<li><a href="https://www.rsmaguyane.fr/nos-formations/formations-professionnelles/agent-d-entretien-automobile.html"><strong>Agent d’entretien automobile</strong></a>,&nbsp;</li>
<li><strong><a href="https://www.rsmaguyane.fr/nos-formations/formations-professionnelles/agent-d-entretien-des-espaces-verts.html" target="_blank" title="Agent entretien des espaces verts">Agent entretien des espaces verts</a></strong>,</li>
<li><strong><a href="https://www.rsmaguyane.fr/nos-formations/formations-professionnelles/mecanicien-petits-engins.html" target="_blank" title="Mécanicien petits engins">Mécanicien petits engins</a></strong>,</li>
<li><a href="https://www.rsmaguyane.fr/nos-formations/formations-professionnelles/multitechniques.html"><strong>Multitechnique</strong></a>,</li>
<li><strong><a href="https://www.rsmaguyane.fr/nos-formations/formations-professionnelles/orientation-decouverte.html">Orientation découverte</a></strong>,</li>
<li><strong><a href="https://www.rsmaguyane.fr/nos-formations/formations-professionnelles/ouvrier-du-paysage.html">Ouvrier du paysage</a></strong>.</li>
</ul>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p> 	</div>

	
							</div>

                                    </main>
            </div>
                    </div>

        		
        <div id="bottom" class="container">
        	
        </div>

                
        
