<%=content_for :title do%>Nos valeurs<%end%>
						        
                
        <div id="maincontainer" class="row-fluid container">
			            <div class="span12">
                <main>
                                        <div id="system-message-container">
	</div>

                    <div class="item-page" itemscope="" itemtype="https://schema.org/Article">
	<meta itemprop="inLanguage" content="fr-FR">
	
		
			<div class="page-header">
		<h2 itemprop="headline">
			Nos valeurs 		</h2>
							</div>
					
		
	
	
		
								<div itemprop="articleBody">
		<p>Le RSMA Guyane base sa pédagogie sur la proximité et l’adhésion aux valeurs communes à l’armée de Terre&nbsp;: le respect, la fraternité, le dépassement de soi à travers le sport, l’exigence, l’équité, la confiance en soi.</p>
<p>Ces valeurs sont essentielles pour permettre à cette jeune génération de trouver sa place dans la société, de concevoir un avenir professionnel et devenir des citoyens responsables et autonomes.</p>
<p>Les 5 règles d’or du volontaire&nbsp;:</p>
<ul>
<li>Etre à l’heure,</li>
<li>Agir en sécurité,</li>
<li>Travailler en équipe,</li>
<li>Avoir la bonne tenue,</li>
<li>Respecter mes cadres et mes camarades</li>
</ul> 	</div>

	
							</div>

                                    </main>
            </div>
                    </div>

        		
        <div id="bottom" class="container">
        	
        </div>

                
        
