	
<%=content_for :title do%>
Notre mission
<%end%>
		        <div id="fil_ariane">
        	<div class="container">
            	<div aria-label="Fil de navigation" role="navigation">
	<ul itemscope="" itemtype="https://schema.org/BreadcrumbList" class="breadcrumb">
					<li class="active">
				<span class="divider icon-location"></span>
			</li>
		
						<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
											<a itemprop="item" href="https://www.rsmaguyane.fr/" class="pathway"><span itemprop="name">Accueil</span></a>
					
											<span class="divider">
							/						</span>
										<meta itemprop="position" content="1">
				</li>
							<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
											<a itemprop="item" href="https://www.rsmaguyane.fr/rsma-guyane/notre-mission.html#" class="pathway"><span itemprop="name">RSMA Guyane</span></a>
					
											<span class="divider">
							/						</span>
										<meta itemprop="position" content="2">
				</li>
							<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem" class="active">
					<span itemprop="name">
						Notre mission					</span>
					<meta itemprop="position" content="3">
				</li>
				</ul>
</div>

            </div>
        </div>
                
                
        <div id="maincontainer" class="row-fluid container">
			            <div class="span12">
                <main>
                                        <div id="system-message-container">
	</div>

                    <div class="item-page" itemscope="" itemtype="https://schema.org/Article">
	<meta itemprop="inLanguage" content="fr-FR">
	
		
			<div class="page-header">
		<h2 itemprop="headline">
			Notre mission		</h2>
							</div>
					
		
	
	
		
								<div itemprop="articleBody">
		<div class="body">
<div>
<div class="cadre">
<h3>RSMA Guyane :<br>Au service de la jeunesse et du territoire guyanais</h3>
<p>Le RSMA Guyane est un dispositif militaire de formation socio-professionnelle à destination des guyanais, hommes et femmes, âgés entre 18 et 25 ans, avec ou sans diplôme, éloignés du monde de l’emploi.</p>
<p>L’insertion de cette jeune génération est la mission première de l’encadrement militaire et des 5 enseignants mis à disposition par l’<a href="https://www.le-sma.com/actualites/52-actualites-2010/697-signature-d-un-accord-entre-l-education-nationale-et-les-rsma.html" target="_blank" rel="noopener" title="Education nationale"><strong>Education nationale</strong></a>.</p>
<p>Fort de son expérience de plus d’un demi-siècle, le RSMA Guyane base sa pédagogie sur une éducation (savoir-être) avec l’adhésion à des valeurs (respect, sécurité au travail, cohésion…) et une formation professionnelle (savoir-faire) reconnues.</p>
<p>Accompagner, valoriser, fédérer une jeunesse en perte de repère pour lui permettre d’élaborer une vie professionnelle en adéquation avec un projet et les besoins économiques du territoire&nbsp;: c’est l’objectif principal du RSMA Guyane.</p>
<p>Pour y parvenir, le RSMA Guyane propose un parcours de formation global avec un accompagnement social individuel afin de lever tous les freins à une insertion réussie.</p>
<p>&nbsp;</p>
<p style="text-align: center;"><strong><span style="font-size: 18pt;"><img src="/notremission_files/LOGO_BASELINE_RSMA.png" alt="LOGO BASELINE RSMA" width="256" height="125"></span></strong></p>
</div>
</div>
</div> 	</div>

	
							</div>

                                    </main>
            </div>
                    </div>

        		
        <div id="bottom" class="container">
        	
        </div>

                
       
