						       <%=content_for :title do%> 
Notre organisation
<%end%>
                
        <div id="maincontainer" class="row-fluid container">
			            <div class="span12">
                <main>
                                        <div id="system-message-container">
	</div>

                    <div class="item-page" itemscope="" itemtype="https://schema.org/Article">
	<meta itemprop="inLanguage" content="fr-FR">
	
		
			<div class="page-header">
		<h2 itemprop="headline">
			Notre organisation		</h2>
							</div>
					
		
	
	
		
								<div itemprop="articleBody">
		<p>Fort de près de 143 cadres militaires et de 5 enseignants détachés de l’Education nationale, appuyés par plus de 150 volontaires techniciens, le RSMA Guyane est basé sur les deux principales zones d’activité économique du territoire&nbsp;: Cayenne, «&nbsp;ville capitale&nbsp;» de l’Est guyanais et Saint-Laurent du Maroni, sous-préfecture de l’Ouest guyanais.</p>
<p>Commandé par un chef de corps de l’<a href="https://www.defense.gouv.fr/terre" target="_blank" rel="noopener" title="Armée de Terre"><strong>Armée de Terre</strong></a>, le RSMA Guyane est organisé autour de 5 directions, de 4 compagnies de formation professionnelle et d’une antenne médicale.</p>
<p>&nbsp;</p>
<p><em><img src="/notreorganisation_files/organisation_du_rsma_guyane.jpg" alt="organisation du rsma guyane" width="757" height="426" style="display: block; margin-left: auto; margin-right: auto;"></em></p> 	</div>

	
							</div>

                                    </main>
            </div>
                    </div>

        		
        <div id="bottom" class="container">
        	
        </div>

                
        
