<%=content_for :title do%>
Notre histoire
<%end%>
						        <div id="fil_ariane">
        	<div class="container">
            	<div aria-label="Fil de navigation" role="navigation">
	<ul itemscope="" itemtype="https://schema.org/BreadcrumbList" class="breadcrumb">
					<li class="active">
				<span class="divider icon-location"></span>
			</li>
		
						<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
											<a itemprop="item" href="https://www.rsmaguyane.fr/" class="pathway"><span itemprop="name">Accueil</span></a>
					
											<span class="divider">
							/						</span>
										<meta itemprop="position" content="1">
				</li>
							<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
											<a itemprop="item" href="https://www.rsmaguyane.fr/rsma-guyane/le-regiment.html#" class="pathway"><span itemprop="name">RSMA Guyane</span></a>
					
											<span class="divider">
							/						</span>
										<meta itemprop="position" content="2">
				</li>
							<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem" class="active">
					<span itemprop="name">
						Notre histoire					</span>
					<meta itemprop="position" content="3">
				</li>
				</ul>
</div>

            </div>
        </div>
                
                
        <div id="maincontainer" class="row-fluid container">
			            <div class="span12">
                <main>
                                        <div id="system-message-container">
	</div>

                    <div class="item-page" itemscope="" itemtype="https://schema.org/Article">
	<meta itemprop="inLanguage" content="fr-FR">
	
		
			<div class="page-header">
		<h2 itemprop="headline">
			Notre histoire		</h2>
							</div>
					
		
	
	
		
								<div itemprop="articleBody">
		<div class="body" style="text-align: justify;">
<div>
<p class="rtejustify"><img src="/notrehistoire_files/insigne.png" alt="insigne" width="200" height="259" style="width: 200px; height: 259px; margin-right: 10px; margin-left: 10px; float: left;"></p>
<p>Le RSMA Guyane est issu du régiment mixte Antilles-Guyane (RMAG) créé en 1961 par le général Jean Nemo, commandant supérieur interarmées des Antilles-Guyane et père du <a href="https://www.le-sma.com/" target="_blank" rel="noopener" title="SMA"><strong>SMA</strong></a><a href="https://www.le-sma.com/"></a>. Un groupement de formation professionnelle (GFP) du RMAG s’installe à Saint-Jean du Maroni tandis qu’un groupement de travaux est fixé à Cayenne. De 1964 à 2008, le groupement de Saint Jean et le groupement de Cayenne évoluent.</p>
<p>En 1964, le groupement de Cayenne devient 3<sup>e</sup> bataillon du SMA tandis que le GFP forme corps jusqu’en 1968. En 1976, ce dernier devient RSMA puis 3<sup>e</sup> RSMA trois ans plus tard. Il reçoit la garde au drapeau du 5<sup>e</sup> régiment d’artillerie de Marine dissous le 10 mars 1945.</p>
<p>Le 1<sup>er</sup> juillet 1982, le groupement du SMA (GSMA) de Saint-Jean reçoit la garde au drapeau du 28<sup>ème</sup> régiment interarmes d’outre-mer dissous le 15 mars 1962.</p>
<p>Le 15 juillet 2008, la fusion des unités de Saint-Jean et de Cayenne donne naissance au RSMA Guyane tel qu’il est aujourd’hui.</p>
<p>Le régiment reste installé sur les deux emprises historiques du SMA en Guyane&nbsp;: sa portion centrale est située sur le camp Nemo, à Saint-Jean du Maroni (état-major et trois compagnies), ancien bagne de la Relégation. Un détachement armé par une compagnie et un centre d’instruction élémentaire de conduite agréée est établi à Cayenne, au quartier Felix Eboué.</p>
<p>Le 14 juillet 2017, le RSMA Guyane reçoit un drapeau à son propre nom. Dans ses plis est écrit «&nbsp;régiment du Service militaire adapté de la Guyane&nbsp;».</p>
</div>
</div> 	</div>

	
							</div>

                                    </main>
            </div>
                    </div>

        		
        <div id="bottom" class="container">
        	
        </div>

                
        
