						       <%=content_for :title do%>Témoignages<%end%> 
                
        <div id="maincontainer" class="row-fluid container">
			            <div class="span12">
                <main>
                                        <div id="system-message-container">
	</div>

                    <div class="item-page" itemscope="" itemtype="https://schema.org/Article">
	<meta itemprop="inLanguage" content="fr-FR">
	
		
			<div class="page-header">
		<h2 itemprop="headline">
			Témoignages		</h2>
							</div>
					
		
	
	
		
								<div itemprop="articleBody">
		<h3>Volontaire stagiaire</h3>
<p><img src="/temoignages_files/IMG_6527.jpg" alt="IMG 6527" width="250" height="291" style="margin-right: 10px; margin-bottom: 10px; float: left;">«&nbsp;Je me suis engagée au RSMA en mars 2021 dans la nouvelle filière <a href="https://www.rsmaguyane.fr/nos-formations/formations-professionnelles/orientation-decouverte.html">Orientation Découverte </a>(ORDEC). Pour des raisons familiales, je ne me suis pas présentées aux épreuves du Bac «&nbsp;Gestion administration&nbsp;» en 2018. C’est au lycée qu’on m’a parlé, pour la première fois du RSMA. En décembre 2020, ma conseillère Pôle Emploi me propose un entretien avec la cellule Recrutement du RSMA. Aucune formation me convient vraiment. Je choisis la ORDEC pour découvrir les différentes formations. Une semaine après ma formation militaire initiale, j’intègre la filière <a href="https://www.rsmaguyane.fr/nos-formations/formations-professionnelles/agent-polyvalent-de-restauration.html">Agent polyvalent de restauration</a> (APR). Je suis dans mon élément&nbsp;! J’aime le contact avec les gens.</p>
<p>Le RSMA m’a donné confiance en moi. Mon avenir, je le vois comme volontaire technicien APR ou dans la gendarmerie&nbsp;», marsouin Bruna, 21 ans, volontaire stagiaire.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h3>&nbsp; Volontaire technicien</h3>
<p><img src="/temoignages_files/IMG_7711.jpg" alt="IMG 7711" width="200" height="266" style="margin-right: 10px; margin-bottom: 10px; float: left;"></p>
<p>Le caporal Korine AMALENSIE, bientôt 22 ans, est volontaire technicien (VT) au secrétariat du chef de corps du RSMA Guyane. "Mes parents sont originaires du Surinam mais je suis née à Kourou. J'ai grandit à Saint-Laurent du Maroni. Après avoir obtenu mon Bac pro Relations Clients en 2018, à Mana, j'ai recherché du travail, sans succès? La crise COVID n'a pas aidé. J'avais entendu parler du RSMA lors de ma <a href="https://www.defense.gouv.fr/jdc/csnj/coordonnees-du-csnj-guyane">Journée Défense et Citoyenneté</a> (JDC) en 2016. Alors comme je souhaitais surtout une première experience professionnelle, mon cousin m'a emmené jusqu'au au camp Nemo et j'ai pu rencontrer un recruteur en juin 2020. Il m'a recontacté quelques semaines plus tard pour un poste de VT dans un secrétariat. J'étais super contente !"</p>
<p>Et concernant le milieu militaire ? "J'avais regardé des vidéos sur l'armée avant de venir au RSMA ! ça m'avait plu ! D'ailleurs, ce que j'ai préféré lors de ma <a href="https://www.rsmaguyane.fr/nos-formations/formation-militaire.html">formation militaire initiale</a> (FMI), ce sont les sorties terrain et dormir en forêt ! Et bien sûr, la cohesion."</p>
<p>Et ton avenir, tu le vois comment ? " Cela fait 1,5 ans que je suis au RSMA Guyane. J'aime ce que je fais mais je ne pense pas signer de 3e contrat. J'aimerais devenir conducteur de bus scolaire à Cayenne. Il y a de vrais besoins. Alors j'espère passer mon permis Transport commun bientôt !"</p>
<h3>&nbsp;</h3>
<h3>Engagé volontaire du SMA</h3>
<p><img src="/temoignages_files/242527132_603841384382836_4945173339301322211_n.jpg" alt="242527132 603841384382836 4945173339301322211 n" width="250" height="296" style="margin-right: 10px; margin-bottom: 10px; float: left;"></p>
<p><span class="d2edcug0 hpfvmrgz qv66sw1b c1et5uql lr9zc1uh a8c37x1j fe6kdd0r mau55g9w c8b282yb keod5gw0 nxhoafnm aigsh9s9 d3f4x2em iv3no6db jq4qci2q a3bd9o3v b1v8xokw oo9gr5id hzawbc8m" dir="auto">Engagé volontaire du <a href="https://www.le-sma.com/"><span class="nc684nl6">Service militaire adapté</span></a>, le caporal-chef Thomas a rejoint le RSMA Guyane en août 2021. Aujourd'hui encadrant et formateur des volontaires de la formation professionnelle maçonnerie, il revient sur son parcours. " J'ai obtenu mon brevet pro maçonnerie chez les <span class="nc684nl6">Compagnons du Tour de France</span> en 2019. Par la suite, j'ai travaillé en intérim chez un maçon, en attente d'un CDI. Inscrit à <span class="nc684nl6">Pôle-Emploi</span>, mon CV a intéressé un recruteur du SMA. </span></p>
<p><span class="d2edcug0 hpfvmrgz qv66sw1b c1et5uql lr9zc1uh a8c37x1j fe6kdd0r mau55g9w c8b282yb keod5gw0 nxhoafnm aigsh9s9 d3f4x2em iv3no6db jq4qci2q a3bd9o3v b1v8xokw oo9gr5id hzawbc8m" dir="auto">Le 4 décembre 2020, il me contacte pour me proposer un contrat d'<a href="https://www.rsmaguyane.fr/s-engager-au-rsma/les-engages-volontaires-du-sma.html">EVSMA</a> en Guyane, le lendemain j'acceptais sa proposition". Le goût de l'aventure, l'acquisition d'expériences, la transmission de son savoir-faire : Thomas accepte de signer pour 2 ans au RSMA Guyane. "La destination m'importait peu. Je transmets aux jeunes l'amour de mon métier, la maçonnerie, dans un cadre militaire, ce qui me correspond parfaitement. Grâce à cette mission, je me dis que j'apporte ma pierre à l'édifice : la construction de la jeunesse guyanaise." </span></p>
<p><span class="d2edcug0 hpfvmrgz qv66sw1b c1et5uql lr9zc1uh a8c37x1j fe6kdd0r mau55g9w c8b282yb keod5gw0 nxhoafnm aigsh9s9 d3f4x2em iv3no6db jq4qci2q a3bd9o3v b1v8xokw oo9gr5id hzawbc8m" dir="auto">"J'ai eu une enfance et une adolescence heureuses, des parents présents alors je me devais de donner cette même chance à des jeunes plutôt perdus". Aujourd'hui, Thomas aspire à signer une prolongation de contrat. Son avenir, il le voit au RSMA Guyane. D'ailleurs, sa compagne devrait bientôt le rejoindre sur cette terre d'aventures.</span></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p> 	</div>

	
							</div>

                                    </main>
            </div>
                    </div>

        		
        <div id="bottom" class="container">
        	
        </div>

