      <%=content_for :title do%>Nous contacter
<%end%>
			        <div id="fil_ariane">
        	<div class="container">
            	<div aria-label="Fil de navigation" role="navigation">
	<ul itemscope="" itemtype="https://schema.org/BreadcrumbList" class="breadcrumb">
					<li class="active">
				<span class="divider icon-location"></span>
			</li>
		
						<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
											<a itemprop="item" href="https://www.rsmaguyane.fr/" class="pathway"><span itemprop="name">Accueil</span></a>
					
											<span class="divider">
							/						</span>
										<meta itemprop="position" content="1">
				</li>
							<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem" class="active">
					<span itemprop="name">
						Nous contacter					</span>
					<meta itemprop="position" content="2">
				</li>
				</ul>
</div>

            </div>
        </div>
                
                
        <div id="maincontainer" class="row-fluid container">
			            <div class="span12">
                <main>
                                        <div id="system-message-container">
	</div>

                    <div class="item-page" itemscope="" itemtype="https://schema.org/Article">
	<meta itemprop="inLanguage" content="fr-FR">
	
		
			<div class="page-header">
		<h2 itemprop="headline">
			CONTACT		</h2>
							</div>
					
		
	
	
		
								<div itemprop="articleBody">
		<div class="body">
<div>
<div class="wf-columns wf-columns-stack-medium" data-wf-columns="1">
<div class="wf-column">
<p><iframe onload="iFrameHeight(this)" id="blockrandom-137" name="" src="./contact_files/embed.html" width="100%" height="200" scrolling="auto" frameborder="1" title="Site de Saint-Jean du Maroni" class="wrapper">
	Pas d'Iframe</iframe>
<br>

</p><div class="custom">
	<table style="width: 100%; margin-left: auto; margin-right: auto;">
<tbody>
<tr>
<td><img src="./contact_files/placeholder.png" alt="placeholder" width="30" height="30" style="display: block; margin-left: auto; margin-right: auto;"></td>
<td>
<p><span style="font-size: 12pt;"><br>Camp NEMO BP 246</span><br><span style="font-size: 12pt;"> 97393 Saint-Laurent du Maroni Cedex</span></p>
</td>
</tr>
</tbody>
</table></div>
<p></p>
<h3>COORDONNEES</h3>
<table style="width: 100%;">
<tbody>
<tr>
<td><img src="./contact_files/enveloppe.png" alt="enveloppe" width="24" height="24"></td>
<td>
<p><span id="cloak5b9be3a2198d0120502cfd10ba8a10dc"><a href="mailto:rsmaguyane@hotmail.fr">rsmaguyane@hotmail.fr</a></span><script type="text/javascript">
				document.getElementById('cloak5b9be3a2198d0120502cfd10ba8a10dc').innerHTML = '';
				var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
				var path = 'hr' + 'ef' + '=';
				var addy5b9be3a2198d0120502cfd10ba8a10dc = 'rsm&#97;g&#117;y&#97;n&#101;' + '&#64;';
				addy5b9be3a2198d0120502cfd10ba8a10dc = addy5b9be3a2198d0120502cfd10ba8a10dc + 'h&#111;tm&#97;&#105;l' + '&#46;' + 'fr';
				var addy_text5b9be3a2198d0120502cfd10ba8a10dc = 'rsm&#97;g&#117;y&#97;n&#101;' + '&#64;' + 'h&#111;tm&#97;&#105;l' + '&#46;' + 'fr';document.getElementById('cloak5b9be3a2198d0120502cfd10ba8a10dc').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy5b9be3a2198d0120502cfd10ba8a10dc + '\'>'+addy_text5b9be3a2198d0120502cfd10ba8a10dc+'<\/a>';
		</script></p>
</td>
</tr>
<tr>
<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="./contact_files/appel-telephonique.png" alt="appel telephonique" width="20" height="20" style="float: left;"></td>
<td>S'engager au RSMA :<strong> 06 94 24 18 27<br></strong>ou <strong>06 94 44 08 27<br><br></strong></td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Recruter un volontaire issu du RSMA<br> : <strong>06 94 20 35 56 </strong>ou<strong> 06 94 20 99 29</strong></td>
</tr>
</tbody>
</table>
</div>
<div class="wf-column">&nbsp;</div>
</div>
</div>
</div> 	</div>

	
							</div>

                                    </main>
            </div>
                    </div>

        		
        <div id="bottom" class="container">
        	
        </div>

                
