  <div id="slider">
                        	<div class="container">
                            	
<script type="text/javascript">
jQuery(window).load(function() {
				jQuery('#favsimple-15940').flexslider({
				  animation: "fade",
				  slideDirection: "horizontal",
				  slideshow: true,
			      slideshowSpeed: 7000,
				  animationDuration: 600,directionNav: true,
				  controlNav: false,
				  keyboardNav: true,
				  mousewheel: false,
				  randomize: false,
				  animationLoop: true,
				  pauseOnAction: true,
				  pauseOnHover: true
			  });
			});

</script>

<div id="favsimple-15940" class="flexslider" style="background-color: #FFFFFF;">
  <ul class="slides">

		
    	<li>
    		 <img src="/rsmaguyan_files/Sans_titre17.jpg" alt="">     		    	</li>

		
    	<li>
    		 <img src="/rsmaguyan_files/Sans_titre14.jpg" alt="">     		    	</li>

		
    	<li>
    		 <img src="/rsmaguyan_files/Sans_titre15.jpg" alt="">     		    	</li>

		
    	<li>
    		 <img src="/rsmaguyan_files/Sans_titre13.jpg" alt="">     		    	</li>

		
    	<li>
    		 <img src="/rsmaguyan_files/Sans_titre16.jpg" alt="">     		    	</li>

		
  </ul>
</div>

                            </div>
                    </div>
        				        				<div class="row-fluid container">
                        					<div class="span4">
    								<div class="moduletable">
						<div class="hob_mod">
	<a href="/rsma-guyane/le-regiment.html" class="bloc">
	<span class="title">Le RSMA Guyane</span>
    <i class="fa fa-id-card-o fa-4"></i>
    </a>
    <span class="slogan">Un dispositif d'insertion socio-professionnelle</span>
    <span class="description">Le régiment du service militaire adapté de la Guyane est une jeune unité créée en 2008, issue de la fusion du 3ème RSMA qui était stationné à CAYENNE sur le quartier Félix Eboué et du GSMA stationné à Saint-Jean du Maroni.</span>
</div>		</div>
	
    					</div>
                                        					<div class="span4">
								<div class="moduletable">
						<div class="hob_mod">
	<a href="/nos-formations.html" class="bloc">
	<span class="title">Nos formations</span>
    <i class="fa fa-wrench fa-4"></i>
    </a>
    <span class="slogan">Pour apprendre un métier et trouver un emploi</span>
    <span class="description"> Le RSMA offre 23 filières de formations en tant que Volontaire Stagiaire ou une première expérience professionnelle en qualité de Volontaire Technicien.</span>
</div>		</div>
	
					</div>
                                        					<div class="span4">
								<div class="moduletable">
						<div class="hob_mod">
	<a href="/rsma-guyane/implantation.html" class="bloc">
	<span class="title">Nous situer</span>
    <i class="fa fa-sun-o fa-4"></i>
    </a>
    <span class="slogan">Situer le RSMA Guyane </span>
    <span class="description">Le RSMA de la Guyane est stationné à Saint-Jean du Maroni, à 17 km au sud de Saint-laurent du Maroni pour la portion centrale et à Cayenne pour la 2ème compagnie de formation professionnelle, sur l'ancien site du 3ème RSMA dissous en 2008.</span>
</div>		</div>
	
					</div>
                    				</div>
		
                        <div class="row-fluid container">
                                            <div class="span6">
                            		<div class="moduletable">
							<h3>RSMA Saint-Jean-du-Maroni</h3>
						<iframe onload="iFrameHeight(this)" id="blockrandom-123" name="" src="/rsmaguyan_files/embed.html" width="100%" height="200" scrolling="auto" frameborder="0" title="RSMA Saint-Jean-du-Maroni" class="wrapper">
	Pas d'Iframe</iframe>
		</div>
			<div class="moduletable">
						

<div class="custom">
	<table style="width: 100%; float: left;">
<tbody>
<tr>
<td>
<p>&nbsp;</p>
<p><img src="/rsmaguyan_files/placeholder.png" alt="Localisation" width="30" height="30" style="display: block; margin-left: auto; margin-right: auto;"></p>
</td>
<td>
<p>&nbsp;</p>
<p><span style="font-size: 12pt;">Camp NEMO BP 246</span><br><span style="font-size: 12pt;"> 97393 Saint-Laurent du Maroni Cedex</span></p>
</td>
</tr>
</tbody>
</table></div>
		</div>
	
                        </div>
                                                                <div class="span6">
                            		<div class="moduletable">
							<h3>RSMA Cayenne</h3>
						<iframe onload="iFrameHeight(this)" id="blockrandom-124" name="" src="/rsmaguyan_files/embed(1).html" width="100%" height="200" scrolling="auto" frameborder="0" title="RSMA Cayenne" class="wrapper">
	Pas d'Iframe</iframe>
		</div>
			<div class="moduletable">
						

<div class="custom">
	<table style="width: 100%; float: left;">
<tbody>
<tr>
<td>
<p>&nbsp;</p>
<p><img src="/rsmaguyan_files/placeholder.png" alt="Localisation" width="30" height="30" style="display: block; margin-left: auto; margin-right: auto;"></p>
</td>
<td>
<p>&nbsp;</p>
<p><span style="font-size: 12pt;">Camp du Tigre<br> Quartier Félix EBOUE BP 7012<br> 97307 Cayenne Cedex</span><span style="font-size: 12pt;"><br></span></p>
</td>
</tr>
</tbody>
</table></div>
		</div>
	
                        </div>
                                                        </div>
                
        <div id="maincontainer" class="row-fluid container">
			            <div class="span9">
                <main>

                  <div id="system-message-container">
	</div>

                    <div class="blog-featured" itemscope="" itemtype="https://schema.org/Blog">



</div>

                                            		<div class="moduletable">
							<h3>Taxe d'apprentissage 2021</h3>
						

<div class="custom">
	<p style="text-align: left;">Accompagnez l’action du RSMA-Gy en nous désignant bénéficiaire de votre taxe d’apprentissage.<br><br><img src="/rsmaguyan_files/Bandeau_logos_2020.png" alt="Bandeau logos 2020" width="700" height="119"><br><strong><br><br><br></strong></p>
<p>&nbsp;</p></div>
		</div>
			<div class="moduletable">
							<h3>Chiffres clés 2021</h3>
						<div class="hob_mod_chiffres">
	<div class="row-fluid">
		<div class="span2">
			<div class="border-container">
				<div class="nombre">
					810				</div>
			</div>
			<div class="texte">
				Bénéficiaires du RSMA			</div>
		</div>
		<div class="span2">
			<div class="border-container">
				<div class="nombre">
					23				</div>
			</div>
			<div class="texte">
				formations professionnelles 			</div>
		</div>
		<div class="span2">
			<div class="border-container">
				<div class="nombre">
					20 ans				</div>
			</div>
			<div class="texte">
				Âge moyen des volontaires			</div>
		</div>
		<div class="span2">
			<div class="border-container">
				<div class="nombre">
					23 %				</div>
			</div>
			<div class="texte">
				de femmes			</div>
		</div>
		<div class="span2">
			<div class="border-container">
				<div class="nombre">
					76 %				</div>
			</div>
			<div class="texte">
				identifiés comme illettrés lors du recrutement			</div>
		</div>
		<div class="span2">
			<div class="border-container">
				<div class="nombre">
					78 %				</div>
			</div>
			<div class="texte">
				Insertion 			</div>
		</div>
		</div>
</div>		</div>
	</main>
            </div>
          <div id="right" class="span3">
            			<div class="moduletable">
						<div id="sw_twitter_display" class="">
	<a class="twitter-timeline twitter-timeline-error" data-theme="light" data-link-color="#be2638" data-border-color="#000000" data-chrome="nofooter noscrollbar " 5="" href="https://twitter.com/RSMA_Gy" width="100%" height="450px" data-twitter-extracted-i1646788397509532415="true">Tweets by @RSMA_Gy</a></div>
<script async="" src="/rsmaguyan_files/widgets.js" charset="utf-8"></script>
		</div>
			<div class="moduletable">
							<h3>Vidéos à revoir </h3>
						

<div class="custom">
	<p>

<!-- JoomlaWorks "AllVideos" Plugin (v6.1.0) starts here -->

</p><div class="avPlayerWrapper avVideo">
    <div class="avPlayerContainer">
        <div id="AVPlayerID_0_c099fd4a9c18469d3c1dda2d04f242d6" class="avPlayerBlock">
            <iframe src="/rsmaguyan_files/lFiE31W36IQ.html" width="400" height="300" allow="autoplay; fullscreen; encrypted-media" allowfullscreen="true" frameborder="0" scrolling="no" title="JoomlaWorks AllVideos Player"></iframe>        </div>
            </div>
</div>

<!-- JoomlaWorks "AllVideos" Plugin (v6.1.0) ends here -->

<p></p></div>
		</div>
			<div class="moduletable">
						

<div class="custom">
	<p>

<!-- JoomlaWorks "AllVideos" Plugin (v6.1.0) starts here -->

</p><div class="avPlayerWrapper avVideo">
    <div class="avPlayerContainer">
        <div id="AVPlayerID_0_05289c0ab4505e55bdac83ad278cb3cd" class="avPlayerBlock">
            <iframe src="/rsmaguyan_files/YBWzW86-E2A.html" width="400" height="300" allow="autoplay; fullscreen; encrypted-media" allowfullscreen="true" frameborder="0" scrolling="no" title="JoomlaWorks AllVideos Player"></iframe>        </div>
            </div>
</div>

<!-- JoomlaWorks "AllVideos" Plugin (v6.1.0) ends here -->

<p></p>
<p>&nbsp;</p>
<p>Découvrez les <strong><a href="https://www.facebook.com/RSMAdelaGuyane" target="_blank" rel="noopener">dernières actualités</a></strong> liées au RSMA Guyane à Saint-Laurent-du-Maroni et à Cayenne.</p></div>
		</div>
	
            </div>
                    </div>

        		
        <div id="bottom" class="container">
        	
        </div>
