<%=content_for :title do%>
Les fonds européens
<%end%>
						        
                
        <div id="maincontainer" class="row-fluid container">
			            <div class="span12">
                <main>
                                        <div id="system-message-container">
	</div>

                    <div class="item-page" itemscope="" itemtype="https://schema.org/Article">
	<meta itemprop="inLanguage" content="fr-FR">
	
		
			<div class="page-header">
		<h2 itemprop="headline">
			Les fonds européens		</h2>
							</div>
					
		
	
	
		
								<div itemprop="articleBody">
		<p>Les missions de formation et d’insertion professionnelles du RSMA Guyane s’inscrivent parfaitement dans les objectifs de la politique européenne de cohésion économique, sociale et territoriale&nbsp;: réduire les écarts de développement et promouvoir une croissance durable sur chaque territoire.</p>
<p>&nbsp;<img src="./fondseuropeens_files/logo_MOM_Europe.png" alt="logo MOM Europe" width="450" height="77" style="display: block; margin-left: auto; margin-right: auto;"></p>
<h3>L’union européenne, un partenaire majeur</h3>
<p>Le RSMA Guyane bénéficie du <strong>Fond Social Européen</strong> (FSE) et de l’<strong>Initiative Emploi Jeunes</strong> (IEJ) qui sont parmi les principaux leviers financiers de l’Union Européenne pour la promotion de l’emploi. Le régiment est également bénéficiaire du <strong>Fond Européen de Développement Régional</strong> (FEDER) qui vise au maintien de la cohésion économique et sociale au sein de l’Union européenne en corrigeant les déséquilibres régionaux. Le bénéfice de ces fonds européens revêt une importance toute particulière qui est <strong>indispensable à l’atteinte des objectifs du RSMA Guyane</strong>.</p> 	</div>

	
							</div>

                                    </main>
            </div>
                    </div>

        		
        <div id="bottom" class="container">
        	
        </div>

                
