
						        
                
        <div id="maincontainer" class="row-fluid container">
			            <div class="span12">
                <main>
                                        <div id="system-message-container">
	</div>

                    <div class="item-page" itemscope="" itemtype="https://schema.org/Article">
	<meta itemprop="inLanguage" content="fr-FR">
	
		
			<div class="page-header">
		<h2 itemprop="headline">
			Des jeunes prêts à l’emploi 		</h2>
							</div>
					
		
	
	
		
								<div itemprop="articleBody">
		<h3>Une formation de qualité</h3>
<p>Encadrés par du personnel expérimenté et diplômé, militaires et civils, les jeunes du RSMA Guyane suivent une formation complète et de qualité&nbsp;:</p>
<ul>
<li><a href="https://www.rsmaguyane.fr/nos-formations/le-deroulement-des-formations.html" target="_blank" rel="noopener"><strong>Le déroulement des formations</strong></a> inclus des cours théoriques et pratiques dans la filière professionnelle (70% du parcours de formation) choisie par le volontaire. Ce dernier s’enrichit d’une expérience professionnelle reconnue;</li>
<li>L’<strong>obtention du certificat de formation générale</strong> (CFG) grâce à nos cellules pédagogiques valide l’acquisition des connaissances en français, mathématique, en vie sociale et professionnelle;</li>
<li>Le passage des volontaires par le centre d’instruction élémentaire de conduite agréée et l’<strong>obtention du permis B</strong> est une plus-value, indispensable pour une insertion professionnelle durable;</li>
<li>La <strong>formation aux premiers secours</strong> (SST, SSIAP 1…) : les volontaires du RSMA sont tous formés pour réaliser des actes de premiers secours. Une formation indispensable au sein de certaines entreprises;</li>
<li>L’<strong>acquisition de valeurs</strong> comme le respect (respect de la hiérarchie, respect des horaires, des normes de sécurité…), le goût du travail bien fait, la motivation font des volontaires des futurs employés de confiance.</li>
</ul>
<dl><dt>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </dt></dl>
<h3>Recruter un jeune issu du RSMA Guyane</h3>
<p>Que ce soit dans le cadre d’un CDD, d’un CDI, d’un contrat d’apprentissage, contactez nos cellules Insertion&nbsp;:</p>
<ul>
<li>A Cayenne:
<ul>
<li>05 94 39 58 22 ou 06 94 20 99 29</li>
</ul>
</li>
<li>A Saint-Jean du Maroni:
<ul>
<li>05 94 34 45 09 ou 06 94 20 35 56</li>
</ul>
</li>
<li>Un mail unique: <span id="cloak092e47ce224a99e70a8b55d0dc278a63"><a href="mailto:insertion@guyane-sma.fr">insertion@guyane-sma.fr</a></span><script type="text/javascript">
				document.getElementById('cloak092e47ce224a99e70a8b55d0dc278a63').innerHTML = '';
				var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
				var path = 'hr' + 'ef' + '=';
				var addy092e47ce224a99e70a8b55d0dc278a63 = '&#105;ns&#101;rt&#105;&#111;n' + '&#64;';
				addy092e47ce224a99e70a8b55d0dc278a63 = addy092e47ce224a99e70a8b55d0dc278a63 + 'g&#117;y&#97;n&#101;-sm&#97;' + '&#46;' + 'fr';
				var addy_text092e47ce224a99e70a8b55d0dc278a63 = '&#105;ns&#101;rt&#105;&#111;n' + '&#64;' + 'g&#117;y&#97;n&#101;-sm&#97;' + '&#46;' + 'fr';document.getElementById('cloak092e47ce224a99e70a8b55d0dc278a63').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy092e47ce224a99e70a8b55d0dc278a63 + '\'>'+addy_text092e47ce224a99e70a8b55d0dc278a63+'<\/a>';
		</script></li>
</ul> 	</div>

	
							</div>

                                    </main>
            </div>
                    </div>

        		
        <div id="bottom" class="container">
        	
        </div>

                
