      <%=content_for :title do%>
Label SMA
<%end%>

						        <div id="fil_ariane">
        	<div class="container">
            	<div aria-label="Fil de navigation" role="navigation">
	<ul itemscope="" itemtype="https://schema.org/BreadcrumbList" class="breadcrumb">
					<li class="active">
				<span class="divider icon-location"></span>
			</li>
		
						<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
											<a itemprop="item" href="https://www.rsmaguyane.fr/" class="pathway"><span itemprop="name">Accueil</span></a>
					
											<span class="divider">
							/						</span>
										<meta itemprop="position" content="1">
				</li>
							<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
											<a itemprop="item" href="https://www.rsmaguyane.fr/espace-entreprises-partenaires.html" class="pathway"><span itemprop="name">Espace entreprises et partenaires</span></a>
					
											<span class="divider">
							/						</span>
										<meta itemprop="position" content="2">
				</li>
							<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem" class="active">
					<span itemprop="name">
						Label SMA					</span>
					<meta itemprop="position" content="3">
				</li>
				</ul>
</div>

            </div>
        </div>
                
                
        <div id="maincontainer" class="row-fluid container">
			            <div class="span12">
                <main>
                                        <div id="system-message-container">
	</div>

                    <div class="item-page" itemscope="" itemtype="https://schema.org/Article">
	<meta itemprop="inLanguage" content="fr-FR">
	
		
			<div class="page-header">
		<h2 itemprop="headline">
			Label SMA		</h2>
							</div>
					
		
	
	
		
								<div itemprop="articleBody">
		<p>Le Label SMA « INSERTION » s’inscrit dans le cadre du développement d’une démarche partenariale fondée sur la confiance mutuelle. Il s’agit d’une marque d’engagement permettant, à moyen et long terme, d’accroître la visibilité du Service Militaire Adapté, d’encourager la diffusion de son projet social et de valoriser les partenaires labélisés.</p>
<p>&nbsp;Le Label a pour vocation de :</p>
<ol>
<li>Distinguer les structures d’accueil, de formation et/ou d’emploi en raison de leur engagement&nbsp;particulier dans l’accompagnement des jeunes du SMA,ertifier la réalité d’un partenariat actif et d’une communauté d’esprit&nbsp;entre la structure partenaire labélisée et le SMA,</li>
<li>Certifier la réalité d’un partenariat actif et d’une communauté d’esprit&nbsp;entre la structure partenaire labélisée et le SMA,</li>
<li>Garantir au bénéficiaire du SMA la nature de l’engagement et l’expérience acquise par la structure&nbsp;dans laquelle il va être accueilli après la fin de sa formation au SMA.</li>
</ol><hr>
<h3>Les points à retenir :</h3>
<p>Seuls les partenaires de performance (permettant l'insertion directe des jeunes du SMA) sont éligibles au label SMA «INSERTION». Chacun de ces partenaires est évalué à partir d’un référentiel constitué de critères communs pour l’ensemble des structures « labélisables » et de critères spécifiques adaptés à l’activité de la chaque structure.</p>
<hr>
<h3>Principe du libre consentement :</h3>
<p>L’éligibilité des partenaires n’implique pas leur labellisation. En effet, après une évaluation favorable, le comité du Label informe la structure éligible de la volonté du SMA de la labelliser. La structure est alors libre d’accepter ou de refuser la proposition.</p>
<hr>
<h3>Acceptation de la labellisation :</h3>
<p>En acceptant la labellisation, la structure s’engage à :</p>
<ul>
<li>Maintenir, au moins pendant la durée de validité du Label, ses engagements&nbsp;en faveur des jeunes issus du SMA ;&nbsp;</li>
<li>Participer à l’amélioration et au développement d’actions complémentaires&nbsp;liées à l’accompagnement des jeunes issus du SMA ;</li>
<li>Promouvoir le rôle socio-professionnel du SMA&nbsp;ainsi que le profil des jeunes en sortant.</li>
</ul>
<p>Un suivi des critères de labellisation, en lien avec la structure partenaire, sera effectué par le comité du Label durant la phase de validité afin de garantir le respect des engagements de chaque partie. Un état annuel sera formalisé par le comité du Label.</p>
<p>&nbsp;</p>
<p><img src="./labelsma_files/Label-SMA1617-mini.jpg" alt="Label SMA1617 mini" width="181" height="273" style="margin-right: auto; display: block; margin-left: auto;"></p>
<p>&nbsp;</p> 	</div>

	
							</div>

                                    </main>
            </div>
                    </div>

        		
        <div id="bottom" class="container">
        	
        </div>

                
