      <%=content_for :title do%>
Notre restaurant d'application
<%end%>

						        
                
        <div id="maincontainer" class="row-fluid container">
			            <div class="span12">
                <main>
                                        <div id="system-message-container">
	</div>

                    <div class="item-page" itemscope="" itemtype="https://schema.org/Article">
	<meta itemprop="inLanguage" content="fr-FR">
	
		
			<div class="page-header">
		<h2 itemprop="headline">
			Notre restaurant d'application		</h2>
							</div>
					
		
	
	
		
								<div itemprop="articleBody">
		<p>Inauguré le 26 novembre 2020 sur le camp du Tigre, à Cayenne, par le général de brigade Thierry Laval, alors commandant du Service militaire adapté, le restaurant d’application du RSMA Guyane est un <strong>outil pédagogique</strong> qui permet aux volontaires stagiaires de la filière «&nbsp;<a href="https://www.rsmaguyane.fr/nos-formations/formations-professionnelles/agent-polyvalent-de-restauration.html" target="_blank" rel="noopener"><strong>Agent polyvalent de restauration</strong></a>&nbsp;» (formation professionnelle de 10 mois) d’<strong>acquérir et/ou de renforcer leurs connaissances</strong> de la restauration dans un <strong>environnement réaliste</strong>.&nbsp;</p>
<p><img src="./restaurantapplication_files/DSC_0004_site.JPG" alt="DSC 0004 site" width="350" height="233" style="margin-right: 10px; margin-bottom: 10px;"></p>
<p>Basé sur un <strong>registre semi-gastronomique</strong>, ce restaurant d’une capacité de 20 places assises, ouvre ses portes les mardis et jeudis, à l’heure du déjeuner, aux clients venus spécialement déguster un menu unique, sans cesse renouvelé.</p>
<p>«&nbsp;Vitrine du RSMA sur l’île de Cayenne, le restaurant pédagogique est un formidable outil de formation des volontaires qui apprennent à travailler dans un environnement élaboré, autant sur la réalisation des mets et du dressage que du service. Il permet aux volontaires stagiaires d’acquérir des bases solides dans le milieu de la restauration, d’être polyvalents, œuvrant aussi bien en cuisine qu’en salle. Travailler aux différents postes permet également à chacun de comprendre et d’appréhender les contraintes de l’autre. C’est aussi l’apprentissage du travail en équipe.</p>
<p>Le restaurant d’application du RSMA Guyane a déjà acquis une certaine notoriété à Cayenne. Pour les futurs employeurs, c’est le gage d’« une formation de qualité&nbsp;», <strong>adjudant Maud BERHAULT, chef de section Agent Polyvalent de Restauration.</strong></p>
<h3>Comment réserver&nbsp;?</h3>
<p><img src="./restaurantapplication_files/resto_dappli.png" alt="resto dappli" width="364" height="515"></p> 	</div>

	
							</div>

                                    </main>
            </div>
                    </div>

        		
        <div id="bottom" class="container">
        	
        </div>

                
