      <%=content_for :title do%>
Taxe d'apprentissage
<%end%>

						        <div id="fil_ariane">
        	<div class="container">
            	<div aria-label="Fil de navigation" role="navigation">
	<ul itemscope="" itemtype="https://schema.org/BreadcrumbList" class="breadcrumb">
					<li class="active">
				<span class="divider icon-location"></span>
			</li>
		
						<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
											<a itemprop="item" href="https://www.rsmaguyane.fr/" class="pathway"><span itemprop="name">Accueil</span></a>
					
											<span class="divider">
							/						</span>
										<meta itemprop="position" content="1">
				</li>
							<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
											<a itemprop="item" href="https://www.rsmaguyane.fr/espace-entreprises-partenaires.html" class="pathway"><span itemprop="name">Espace entreprises et partenaires</span></a>
					
											<span class="divider">
							/						</span>
										<meta itemprop="position" content="2">
				</li>
							<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem" class="active">
					<span itemprop="name">
						Taxe d'apprentissage					</span>
					<meta itemprop="position" content="3">
				</li>
				</ul>
</div>

            </div>
        </div>
                
                
        <div id="maincontainer" class="row-fluid container">
			            <div class="span12">
                <main>
                                        <div id="system-message-container">
	</div>

                    <div class="item-page" itemscope="" itemtype="https://schema.org/Article">
	<meta itemprop="inLanguage" content="fr-FR">
	
		
			<div class="page-header">
		<h2 itemprop="headline">
			Taxe d'apprentissage		</h2>
							</div>
					
		
	
	
		
								<div itemprop="articleBody">
		<p>Le RSMA Guyane est un des acteurs majeurs de la formation professionnelle et de l’insertion des jeunes guyanais les plus éloignés de l’emploi. En 2021, malgré un contexte sanitaire particulier, le RSMA Guyane a formé près de 800 volontaires et inséré plus de 75 % d’entre eux.</p>
<p>Ce succès est dû, en partie, aux entreprises qui ont choisi de verser les 13% de leur <a href="https://www.demarches.interieur.gouv.fr/professionnels/taxe-apprentissage-contribution-supplementaire-apprentissage-csa" target="_blank" rel="noopener"><strong>taxe d’apprentissage</strong></a> au régiment, éligible au règlement de cette fraction.</p>
<p>Nous avons de cesse d’investir pour adapter nos outils pédagogiques aux besoins de la jeunesse guyanaise, de soutenir les formations en alternance en développant les coopérations et de continuer à proposer des formations conformes au marché du travail.</p>
<p>Nous poursuivrons nos efforts pour une employabilité durable au service des jeunes et des entreprises. Parce que les dynamiques socio-économiques spécifiques du territoire et les défis de la révolution numérique l’appellent.</p>
<p>Verser la taxe d’apprentissage au RSMA Guyane, c’est&nbsp;:</p>
<ul>
<li>Garantir une formation de qualité aux jeunes guyanais, vos futurs employés,</li>
<li>Contribuer au développement de formations en adéquation avec vos besoins et ceux du territoire,</li>
<li>Bâtir le présent et construire l’avenir de la Guyane.<br><br></li>
</ul>
<h3>Comment verser sa taxe d’apprentissage au RSMA Guyane&nbsp;?</h3>
<p>Par chèque ou par virement.<br><br></p>
<h3>Contactez la direction administration et finances du RSMA Guyane&nbsp;:</h3>
<p>Un numéro de téléphone unique&nbsp;: 05 94 34 45 05</p>
<p>Une adresse mail&nbsp;: <a href="mailto:daf@guyane-sma.fr"></a><span id="cloak9dc404b74cdaf243c44bdce5f8911d7c"><a href="mailto:daf@guyane-sma.fr">daf@guyane-sma.fr</a></span><script type="text/javascript">
				document.getElementById('cloak9dc404b74cdaf243c44bdce5f8911d7c').innerHTML = '';
				var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
				var path = 'hr' + 'ef' + '=';
				var addy9dc404b74cdaf243c44bdce5f8911d7c = 'd&#97;f' + '&#64;';
				addy9dc404b74cdaf243c44bdce5f8911d7c = addy9dc404b74cdaf243c44bdce5f8911d7c + 'g&#117;y&#97;n&#101;-sm&#97;' + '&#46;' + 'fr';
				var addy_text9dc404b74cdaf243c44bdce5f8911d7c = 'd&#97;f' + '&#64;' + 'g&#117;y&#97;n&#101;-sm&#97;' + '&#46;' + 'fr';document.getElementById('cloak9dc404b74cdaf243c44bdce5f8911d7c').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy9dc404b74cdaf243c44bdce5f8911d7c + '\'>'+addy_text9dc404b74cdaf243c44bdce5f8911d7c+'<\/a>';
		</script></p>
<p><em>&nbsp;</em></p> 	</div>

	
							</div>

                                    </main>
            </div>
                    </div>

        		
        <div id="bottom" class="container">
        	
        </div>

                
