      <%=content_for :title do%>Agent d'entretien du bâtiment - 6 mois
<%end%>

						        
                
        <div id="maincontainer" class="row-fluid container">
			            <div class="span12">
                <main>
                                        <div id="system-message-container">
	</div>

                    <div class="item-page" itemscope="" itemtype="https://schema.org/Article">
	<meta itemprop="inLanguage" content="fr-FR">
	
		
			<div class="page-header">
		<h2 itemprop="headline">
			Agent d'entretien du bâtiment - 6 mois		</h2>
							</div>
					
		
	
	
		
							<div class="pull-left item-image"> <img src="./agentbatiment6_files/Agent_dEntretien_du_bâtiment_-_6_mois.png" alt="" itemprop="image"> </div>
			<div itemprop="articleBody">
		 	</div>

	
							</div>

                                    </main>
            </div>
                    </div>

        		
        <div id="bottom" class="container">
        	
        </div>

                
