      <%=content_for :title do%>Consolidation des savoirs de base 
<%end%>


						        <div id="fil_ariane">
        	<div class="container">
            	<div aria-label="Fil de navigation" role="navigation">
	<ul itemscope="" itemtype="https://schema.org/BreadcrumbList" class="breadcrumb">
					<li class="active">
				<span class="divider icon-location"></span>
			</li>
		
						<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
											<a itemprop="item" href="https://www.rsmaguyane.fr/" class="pathway"><span itemprop="name">Accueil</span></a>
					
											<span class="divider">
							/						</span>
										<meta itemprop="position" content="1">
				</li>
							<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
											<a itemprop="item" href="https://www.rsmaguyane.fr/nos-formations.html" class="pathway"><span itemprop="name">Nos formations</span></a>
					
											<span class="divider">
							/						</span>
										<meta itemprop="position" content="2">
				</li>
							<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem" class="active">
					<span itemprop="name">
						Consolidation des savoirs de base 					</span>
					<meta itemprop="position" content="3">
				</li>
				</ul>
</div>

            </div>
        </div>
                
                
        <div id="maincontainer" class="row-fluid container">
			            <div class="span12">
                <main>
                                        <div id="system-message-container">
	</div>

                    <div class="item-page" itemscope="" itemtype="https://schema.org/Article">
	<meta itemprop="inLanguage" content="fr-FR">
	
		
			<div class="page-header">
		<h2 itemprop="headline">
			Consolidation des savoirs de base 		</h2>
							</div>
					
		
	
	
		
								<div itemprop="articleBody">
		<div class="body">
<p><img src="./consolidationsavoirs_files/2019_ECPAD_116_E_002_034_site_internet.jpg" alt="2019 ECPAD 116 E 002 034 site internet" width="350" height="233" style="margin-right: 10px; float: left;">Avec un taux d’illettrisme de 76 % parmi les volontaires lors de leur recrutement, la <strong>consolidation des savoirs de base</strong> est essentielle au sein de la formation professionnelle. Quel que soit le niveau des volontaires, elle permet le <strong>renforcer leur employabilité</strong>.</p>
<h3><strong><span style="font-size: 12pt;">Des enseignants disponibles</span></strong></h3>
<p>La consolidation des savoirs de base s’effectue au sein de <strong>deux cellules pédagogiques</strong>. L’une est situé sur le camp Nemo à Saint-Jean du Maroni, l’autre au quartier Felix Eboué, à Cayenne. Cinq enseignants détachés de l’Education nationale œuvre au RSMA Guyane au profit de tous les volontaires, quel que soit le niveau scolaire.</p>
<p>L’objectif des équipes pédagogiques est de <strong>remettre à niveau</strong> certains volontaires stagiaires et de <strong>valoriser les acquis</strong> des autres en vue d’une insertion professionnelle. Ils sont répartis en petite groupe de niveau afin de répondre aux mieux aux attentes. Ils y suivent des cours de français, mathématiques, informatique, de technique de recherche d’emploi…</p>
<p>Pour les stagiaires n’ayant aucun diplôme, la formation comprend une préparation et une présentation au <strong>Certificat de Formation Générale</strong> (CFG), premier diplôme de l’Education nationale.</p>
<p>&nbsp;</p>
<p>&nbsp;«&nbsp;Notre démarche globale s’appuie sur le maintien de la motivation des volontaires, le retour de la confiance en soi et l’acquisition des compétences sociales des volontaires. Nous travaillons main dans la main avec les chefs de section et les chefs de filières des compagnies de formation. Cela permet d’être en phase avec les objectifs fixés par le RSMA et de rassurer les jeunes dans l’acquisition des compétences. Notre objectif est bien de leur apporter ce qui est nécessaire à une insertion professionnelle durable à l’issue de leur formation.</p>
<p>Les réunions régulières avec la direction des opérations et les chefs de filières nous permettent d’évoquer les difficultés rencontrées avec tel stagiaire afin de trouver des solutions d’accompagnement. Il est primordial d’être à l’écoute, d’avoir de l’empathie et soutenir les volontaires dans leur action. Mon expérience de consultant informatique en entreprise me permet de leur apporter un témoignage concret des attentes d’une entreprise.</p>
<p>Le poste d’enseignant au RSMA exige beaucoup de réactivité face à l’actualité de la vie régimentaire&nbsp;: chaque mois, nous intégrons de nouveaux stagiaires alors que d’autres nous quittent.&nbsp;»</p>
<p><strong>Daniel, 56 ans, enseignant au RSMA Guyane depuis 9 ans à la cellule pédagogique de Cayenne.</strong></p>
</div> 	</div>

	
							</div>

                                    </main>
            </div>
                    </div>

        		
        <div id="bottom" class="container">
        	
        </div>

                
