<%=content_for :title do%>
Déroulement des formations
<%end%>
						        <div id="fil_ariane">
        	<div class="container">
            	<div aria-label="Fil de navigation" role="navigation">
	<ul itemscope="" itemtype="https://schema.org/BreadcrumbList" class="breadcrumb">
					<li class="active">
				<span class="divider icon-location"></span>
			</li>
		
						<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
											<a itemprop="item" href="https://www.rsmaguyane.fr/" class="pathway"><span itemprop="name">Accueil</span></a>
					
											<span class="divider">
							/						</span>
										<meta itemprop="position" content="1">
				</li>
							<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
											<a itemprop="item" href="https://www.rsmaguyane.fr/nos-formations.html" class="pathway"><span itemprop="name">Nos formations</span></a>
					
											<span class="divider">
							/						</span>
										<meta itemprop="position" content="2">
				</li>
							<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem" class="active">
					<span itemprop="name">
						Déroulement des formations					</span>
					<meta itemprop="position" content="3">
				</li>
				</ul>
</div>

            </div>
        </div>
                
                
        <div id="maincontainer" class="row-fluid container">
			            <div class="span12">
                <main>
                                        <div id="system-message-container">
	</div>

                    <div class="item-page" itemscope="" itemtype="https://schema.org/Article">
	<meta itemprop="inLanguage" content="fr-FR">
	
		
			<div class="page-header">
		<h2 itemprop="headline">
			Déroulement des formations		</h2>
							</div>
					
		
	
	
		
								<div itemprop="articleBody">
		<div class="body">
<p>Le RSMA Guyane dispense des formations à la fois professionnelle et comportementale de 6 à 12 mois selon le profil du candidat, diplômé ou non. La pédagogie militaire qui fait la spécificité du SMA, est un atout majeur pour l’insertion.</p>
<p>&nbsp;</p>
<img src="/deroulement_files/parcours-de-formation.gif" alt="parcours de formation" width="873" height="491"><br><br><br>
<p>&nbsp;</p>
<p class="rtecenter">&nbsp;</p>
</div> 	</div>

	
							</div>

                                    </main>
            </div>
                    </div>

        		
        <div id="bottom" class="container">
        	
        </div>

                
