<%=content_for :title do%>
Formation militaire
<%end%>
						        
                
        <div id="maincontainer" class="row-fluid container">
			            <div class="span12">
                <main>
                                        <div id="system-message-container">
	</div>

                    <div class="item-page" itemscope="" itemtype="https://schema.org/Article">
	<meta itemprop="inLanguage" content="fr-FR">
	
		
			<div class="page-header">
		<h2 itemprop="headline">
			Formation militaire 		</h2>
							</div>
					
		
	
	
		
								<div itemprop="articleBody">
		<h3>Premiers pas en treillis et rangers</h3>
<p>Suite à son recrute<img src="/formationmilitaire_files/2019_ECPAD_116_E_001_102_site_Internet.jpg" alt="2019 ECPAD 116 E 001 102 site Internet" width="350" height="233" style="margin-right: 10px; float: left;">ment, les premiers jours sont consacrés aux visites médicales et aux formalités administratives d’incorporation. Le jeune volontaire du RSMA Guyane peut alors débuter une formation militaire initiale (FMI) d’une durée d’1 mois. Cette formation spécifique se déroule à Saint-Jean du Maroni au sein de la compagnie de formation professionnelle, de logistique et d’instruction (CFPLI).</p>
<p>La FMI vise à développer le goût de l’effort (activités sportives, sorties terrain...), à apporter au volontaire les bases de la vie en communauté (moralité, capacité d’adaptation, altruisme…) et celles du savoir-être (respect, tenue, moralité…), à lui faire découvrir le milieu dans lequel il va évoluer durant plusieurs mois, à lui inculquer les bases de la vie sociale (éducation citoyenne et morale).<br style="clear: none;"></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Crédits : ECPAD</p>
<p style="text-align: center;">

<!-- JoomlaWorks "AllVideos" Plugin (v6.1.0) starts here -->

</p><div class="avPlayerWrapper avVideo">
    <div class="avPlayerContainer">
        <div id="AVPlayerID_0_664c899b324936c22f299cbfa5e5ef67" class="avPlayerBlock">
            <iframe src="/formationmilitaire_files/IDGyk5o2vLA.html" width="400" height="300" allow="autoplay; fullscreen; encrypted-media" allowfullscreen="true" frameborder="0" scrolling="no" title="JoomlaWorks AllVideos Player"></iframe>        </div>
            </div>
</div>

<!-- JoomlaWorks "AllVideos" Plugin (v6.1.0) ends here -->

<p></p> 	</div>

	
							</div>

                                    </main>
            </div>
                    </div>

        		
        <div id="bottom" class="container">
        	
        </div>

                
