<%=content_for :title do%> 
Nos formations
<%end%>
						        <div id="fil_ariane">
        	<div class="container">
            	<div aria-label="Fil de navigation" role="navigation">
	<ul itemscope="" itemtype="https://schema.org/BreadcrumbList" class="breadcrumb">
					<li class="active">
				<span class="divider icon-location"></span>
			</li>
		
						<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
											<a itemprop="item" href="https://www.rsmaguyane.fr/" class="pathway"><span itemprop="name">Accueil</span></a>
					
											<span class="divider">
							/						</span>
										<meta itemprop="position" content="1">
				</li>
							<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem" class="active">
					<span itemprop="name">
						Nos formations					</span>
					<meta itemprop="position" content="2">
				</li>
				</ul>
</div>

            </div>
        </div>
                
                
        <div id="maincontainer" class="row-fluid container">
			            <div class="span12">
                <main>
                                        <div id="system-message-container">
	</div>

                    <div class="item-page" itemscope="" itemtype="https://schema.org/Article">
	<meta itemprop="inLanguage" content="fr-FR">
	
		
			<div class="page-header">
		<h2 itemprop="headline">
			Nos formations		</h2>
							</div>
					
		
	
	
		
								<div itemprop="articleBody">
		<p>Le RSMA Guyane propose 23 filières de formation dans 8 secteurs d’activités&nbsp;: BTP, numérique, métiers de la Terre, mécanique, aide à la personne / services aux particuliers et aux collectivités, transport/logistique, restauration et remise à niveau.</p>
<p>Le régiment a la volonté de répondre aux besoins des entreprises du territoire et fait évoluer ses formations. C’est pourquoi, en 2020, la formation «&nbsp;orientation découverte&nbsp;» a été ouverte et la filière de formation Horticulture a été transformée pour créer la formation «&nbsp;ouvrier du paysage&nbsp;». En 2021, la formation «&nbsp;développeur web&nbsp;» a reçu ses premiers volontaires à Cayenne. En fin d’année 2022, une nouvelle formation verra le jour&nbsp;: «&nbsp;soudure métallerie&nbsp;». Elle remplacera la formation professionnelle «&nbsp;mécanicien petits engins&nbsp;».</p> 	</div>

	
							</div>

                                    </main>
            </div>
                    </div>

        		
        <div id="bottom" class="container">
        	
        </div>

                
