      <%=content_for :title do%>
Nos formations
<%end%>

						        <div id="fil_ariane">
        	<div class="container">
            	<div aria-label="Fil de navigation" role="navigation">
	<ul itemscope="" itemtype="https://schema.org/BreadcrumbList" class="breadcrumb">
					<li class="active">
				<span class="divider icon-location"></span>
			</li>
		
						<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
											<a itemprop="item" href="https://www.rsmaguyane.fr/" class="pathway"><span itemprop="name">Accueil</span></a>
					
											<span class="divider">
							/						</span>
										<meta itemprop="position" content="1">
				</li>
							<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
											<a itemprop="item" href="https://www.rsmaguyane.fr/nos-formations.html" class="pathway"><span itemprop="name">Nos formations</span></a>
					
											<span class="divider">
							/						</span>
										<meta itemprop="position" content="2">
				</li>
							<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem" class="active">
					<span itemprop="name">
						Formations professionnelles					</span>
					<meta itemprop="position" content="3">
				</li>
				</ul>
</div>

            </div>
        </div>
                
                
        <div id="maincontainer" class="row-fluid container">
			            <div class="span12">
                <main>
                                        <div id="system-message-container">
	</div>

                    <div class="item-page" itemscope="" itemtype="https://schema.org/Article">
	<meta itemprop="inLanguage" content="fr-FR">
	
		
			<div class="page-header">
		<h2 itemprop="headline">
			Formations professionnelles		</h2>
							</div>
					
		
	
	
		
								<div itemprop="articleBody">
		<div>La formation professionnelle a pour objectif l’acquisition de pré-requis professionnels par le volontaire. Le RSMA Guyane axe sa formation professionnelle sur des cours théoriques, la mise en application pratiques sur les plateaux pédagogiques, et des périodes d’adaptation en entreprise qui permettent la découverte du monde professionnel. Les volontaires sont également présentés au permis de conduire.</div> 	</div>

	
							</div>

                                    </main>
            </div>
                    </div>

        		
        <div id="bottom" class="container">
        	
        </div>

                
