      <%=content_for :title do%>Biographie du chef de corps
<%end%>
			        
                
        <div id="maincontainer" class="row-fluid container">
			            <div class="span12">
                <main>
                                        <div id="system-message-container">
	</div>

                    <div class="item-page" itemscope="" itemtype="https://schema.org/Article">
	<meta itemprop="inLanguage" content="fr-FR">
	
		
			<div class="page-header">
		<h2 itemprop="headline">
			Biographie du chef de corps		</h2>
							</div>
					
		
	
	
		
							<div class="pull-left item-image"> <img src="./biochefcorps_files/Le_colonel_Lionel_GUY_est_né_le_31_juillet_1973_à_Bron_près_de_Lyon._Il_est_marié_et_père_de_cinq_enfants._En_1999_il_intègre_lEcole_Militaire_Interarmes_EMIA_de_Saint-Cyr_Coëtquidan_promotion__Campagne_d.png" alt="" itemprop="image"> </div>
			<div itemprop="articleBody">
		 	</div>

	
							</div>

                                    </main>
            </div>
                    </div>

        		
        <div id="bottom" class="container">
        	
        </div>

                
