      <%=content_for :title do%>
CSA
<%end%>
			        
                
        <div id="maincontainer" class="row-fluid container">
			            <div class="span12">
                <main>
                                        <div id="system-message-container">
	</div>

                    <div class="item-page" itemscope="" itemtype="https://schema.org/Article">
	<meta itemprop="inLanguage" content="fr-FR">
	
		
			<div class="page-header">
		<h2 itemprop="headline">
			CSA		</h2>
							</div>
					
		
	
	
		
								<div itemprop="articleBody">
		<p>Avec 30 sections actives, le Club Sportif et Artistique (CSA) du RSMA Guyane, présidé par le commandant en second, offre un large éventail d’activités au profit des cadres du régiment (militaires et civils), de leurs familles mais également de certains extérieurs (sous réserve de parrainage par un cadre servant au RSMA Guyane).</p>
<p>&nbsp;</p>
<h3>Les activités de l’année 2021-2022&nbsp;:</h3>
<h4>Sur le site de Saint-Jean du Maroni&nbsp;:</h4>
<p>Aqua loisir - Balltrap - Cross training - Kayak - Musculation - Nautique/pirogue - Rugby à 15 - Pêche - Randonnée/orientation - Sports enchaînés - Sortie forêt épouses - Pétanque - Trails - Moto - Football - Natation adultes - Pilates - Tennis - Bibliothèque - Multisports enfants - Natation enfants - Rugby enfant - Eveil à l’anglais - Galopin - Danse enfants - Couture - Loisirs créatifs </p>
<p>&nbsp;</p>
<h4>Sur le site de Cayenne&nbsp;:</h4>
<p>Nautique/pirogue - Musculation - Bibliothèque</p>
<p>&nbsp;</p>
<h3>Comment s’inscrire&nbsp;au CSA ?</h3>
<p>Télécharger le formulaire <a href="https://www.rsmaguyane.fr/images/FICHE_DINSCRIPTION_CSA_2021-2022.docx" target="_blank"><strong>ici</strong></a></p>
<p>Pour suivre les activités du CSA, inscrivez-vous sur le groupe Facebook «&nbsp;<a href="https://www.facebook.com/groups/626618398236142" target="_blank" rel="noopener"><strong>CSA du RSMA Guyane</strong></a>&nbsp;»</p> 	</div>

	
							</div>

                                    </main>
            </div>
                    </div>

        		
        <div id="bottom" class="container">
        	
        </div>

                
