      <%=content_for :title do%>
La Guyane
<%end%>
			        
                
        <div id="maincontainer" class="row-fluid container">
			            <div class="span12">
                <main>
                                        <div id="system-message-container">
	</div>

                    <div class="item-page" itemscope="" itemtype="https://schema.org/Article">
	<meta itemprop="inLanguage" content="fr-FR">
	
		
			<div class="page-header">
		<h2 itemprop="headline">
			La Guyane		</h2>
							</div>
					
		
	
	
		
								<div itemprop="articleBody">
		<p>Nombreux sont ceux qui, parfois sans la connaître vraiment, surnomme la Guyane, «&nbsp;l’enfer vert&nbsp;». Pourtant, cette unique terre de France en Amazonie, authentique et mystérieuse, sait se découvrir aux yeux de ceux qui lui prête attention.</p>
<p>&nbsp;<img src="./laguyane_files/Centre_spacial_guyanais_Kourou1_site_.jpg" alt="Centre spacial guyanais Kourou1 site " width="724" height="362" style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 10px;"></p>
<h3>Un peu d’histoire&nbsp;:</h3>
<p>5 000 ans avant notre ère, la Guyane compte déjà plusieurs peuples amérindiens entre Oyapock et Maroni. En janvier 1500, le français Vincent Pinson débute son exploration de la Guyane. En 1643, la ville de Cayenne est fondée par Charles Poncet de Brétigny, lieutenant-général de Louis XIII. L’année 1773 acte la fondation du bourg de Kourou. Mais les maladies, le climat et les guerres contre les Amérindiens vont faire échouer plusieurs tentatives de colonisation durable.</p>
<p>Entre 1663 et 1914, la «&nbsp;France équinoxiale&nbsp;» passe entre les mains de la France, de la Hollande, de l’Angleterre, du Portugal, pour revenir, finalement, à la couronne de France. Dès la fin du 18<sup>ème</sup> siècle, la Guyane devient terre de bagnes&nbsp;: déportation des Révolutionnaires et des condamnés provenant des bagnes de Brest et de Rochefort, des «&nbsp;transportés&nbsp;» puis des «&nbsp;relégués&nbsp;» à partir de la fin du 19<sup>ème</sup> siècle. En 1879, la ville de Cayenne est officiellement créée. Construite par et pour les bagnards, la ville de Saint-Laurent du Maroni devient commune pénitentiaire en 1880. Le camp de Saint-Jean du Maroni accueille les relégués en 1885. Le bagne est aboli en 1945. Un an plus tard, la Guyane devient département français d’outre-mer. Les derniers bagnards rapatriés quittent le territoire en 1953. En 2011, elle obtient un nouveau statut, celui de collectivité d’outre-mer. Pour en savoir plus&nbsp;: <a href="https://www.guyane-amazonie.fr/histoire" target="_blank" rel="noopener"><strong>Guyane Amazonie</strong></a><strong>.</strong></p>
<p>&nbsp;</p>
<h3>Dates clés</h3>
<p><img src="./laguyane_files/dates_clés_Histoire_de_Guyane.jpg" alt="dates clés Histoire de Guyane" width="797" height="448"></p>
<h3>Guyane&nbsp;: terre d’Amazonie</h3>
<p>La Guyane est l’unique territoire français en Amérique du Sud.&nbsp; Elle possède deux frontières&nbsp;: l’une à l’ouest avec le Surinam et l’autre à l’est qui la sépare du Brésil. Sa bande côtière s’étend sur 350 km tout au long de la côte Atlantique. A l’exception de la bande littorale, le pays est recouvert de plus de 90% de forêt tropicale humide. Elle est ponctuée de reliefs dont certains culminent à près de 850 m d’altitude. Cette forêt est entrecoupée de continuums fluviaux. La Guyane est une vitrine des richesses de la flore et de la faune amazonienne. Pour en savoir plus&nbsp;: <strong><a href="https://www.parc-amazonien-guyane.fr/fr/des-decouvertes/une-terre-exceptionnelle/la-grande-foret-amazonienne" target="_blank" rel="noopener">Parc amazonien de Guyane</a>.</strong></p>
<p>&nbsp;</p>
<h3>Guyane&nbsp;: une croissance démographique toujours soutenue&nbsp;</h3>
<p>En janvier 2021, la population guyanaise était estimée à 294&nbsp;000 habitants. En dix ans, la population s’est accrue de 30&nbsp;%. Avec 26,4 naissances pour mille femmes, la Guyane se situe en haut du classement des régions françaises, après Mayotte 37,3&nbsp;‰, mais loin devant la Martinique (9,7&nbsp;‰), la Guadeloupe (11&nbsp;‰) et la France métropolitaine (11,1&nbsp;‰). La moitié des résidents ont moins de 25 ans. Sources&nbsp;: <a href="https://www.insee.fr/fr/statistiques/4285434" target="_blank" rel="noopener"><strong>INSEE.</strong></a></p>
<p>&nbsp;</p>
<h3>Guyane&nbsp;: une population métissée</h3>
<p>Si la Guyane est faiblement peuplée (moins de 300 000 habitants sur 83&nbsp;846 km² soit un territoire aussi grand que le Portugal où vivent plus de 10 millions d’habitants…), une multitude de cultures cohabitent&nbsp;: créoles, chinois, Hmongs, amérindiens, bushinengué (originaires du Suriname), haïtiens, brésiliens… Autant de langues, d’arts, de traditions culinaires, d’histoires qui font de la Guyane une terre métissée unique au monde. Sources&nbsp;: <a href="https://www.guyane-amazonie.fr/une-population-metissee" target="_blank" rel="noopener"><strong>Guyane Amazonie</strong></a>.</p>
<p>&nbsp;</p>
<h3>Guyane&nbsp;: des trésors cachés</h3>
<p>Randonnées en forêt, nuits en carbet, activités sportives sur les fleuves (kayak, pêche, voile…), musées, jardins botaniques, sites historiques (Iles du Salut…), CSG (participation aux lancement, visité du CSG…), plages, découvertes des animaux dans leur milieu naturel (caïmans, singes, oiseaux…), la Guyane vue du ciel (vol en hélicoptère, en ULM, carnaval…), marchés locaux… Toutes les infos sur le site de l’office du tourisme de <strong><a href="https://www.guyane-amazonie.fr/" target="_blank" rel="noopener">Guyane</a></strong><em>.</em></p> 	</div>

	
							</div>

                                    </main>
            </div>
                    </div>

        		
        <div id="bottom" class="container">
        	
        </div>

                
