      <%=content_for :title do%>Mot du chef de corps
<%end%>
			        
                
        <div id="maincontainer" class="row-fluid container">
			            <div class="span12">
                <main>
                                        <div id="system-message-container">
	</div>

                    <div class="item-page" itemscope="" itemtype="https://schema.org/Article">
	<meta itemprop="inLanguage" content="fr-FR">
	
		
			<div class="page-header">
		<h2 itemprop="headline">
			Mot du chef de corps 		</h2>
							</div>
					
		
	
	
		
								<div itemprop="articleBody">
		<p><img src="./motchefcorps_files/Photo_CDC_COL_Lionel_GUY.jpg" alt="Photo CDC COL Lionel GUY" width="200" height="324" style="margin-right: 10px; float: left;"></p>
<p>Chers nouveaux arrivants,</p>
<p>Vous avez pris connaissance de votre affectation au régiment du service militaire adapté de la Guyane. Je vous souhaite, ainsi qu'à votre famille, la bienvenue sur cette terre d'Amazonie. Vous allez y vivre un séjour original, unique et passionnant, dans un environnement parfaitement maîtrisé. Ce dernier est bien loin d'être comparable à un « enfer vert » tel que souvent dépeint, à tort, depuis la métropole. Votre nouvelle mission en Guyane sera surtout enrichissante sur le plan humain mais aussi dense et exigeante professionnellement.</p>
<p>Vous devrez apprendre à connaître toutes les richesses qu’offre ce territoire complexe, habité par une population jeune, hétéroclite et attachante. Il vous faudra faire preuve de curiosité et de remise en question pour réussir la mission du RSMA au profit de la jeunesse guyanaise. Je ne doute pas que vos expériences acquises au sein de l’institution militaire vous permettront d’atteindre vos objectifs.Vous trouverez sur ce site Internet, les informations qui vous permettront à vous, de préparer au mieux votre mission, et à votre famille, d'appréhender son séjour.</p>
<p>La portion centrale du régiment est constituée des membres de l’état-major, de la CFPLI, de la 1<sup>e</sup> CFP et de la 3<sup>e</sup> CFP. Avec les familles, ils vivent dans l'ancien camp de la relégation localisé à Saint-Jean du Maroni, en pleine nature, en bordure de forêt et du fleuve Maroni. Souvent anciennes, les installations du camp Némo datent, pour un certain nombre, de cette époque du bagne. Pour autant, elles sont&nbsp;régulièrement rénovées, adaptées aux besoins actuels des militaires et de leurs familles. Pôle principal d’un ouest guyanais en pleine croissance démographique, la ville de Saint-Laurent du Maroni est à 17km, aisément accessible en 20 minutes par la route bitumée. Elle présente la plupart des services d'une petite ville de métropole, avec un choix certes limité.</p>
<p>Eloignée d’environ 270 km de la portion centrale, à 4h00 de route, la 2<sup>e</sup> CFP est implantée à Cayenne, au cœur de la Guyane. A partir du quartier Félix Eboué, au pied de la colline du Tigre, ses membres accèdent d’emblée à toutes les infrastructures de la «&nbsp;ville-capitale&nbsp;», largement analogues à celles d'une ville métropolitaine. Les logements, majoritairement issus de prises à bail en milieu civil, sont de qualité, fonctionnels, situés à quelques minutes du centre.</p>
<p>Chacun peut donc s’intégrer à un milieu accueillant et dépaysant. Entretenez dès à présent le contact avec votre prédécesseur pour vous imprégner de votre mission et de son environnement. &nbsp;A votre arrivée, il vous accueillera, en compagnie de votre parrain, un «&nbsp;ancien&nbsp;» restant sur place. Tous les deux veilleront à faciliter votre installation et celle de votre famille, de façon à ce que vous assuriez toutes les tâches requises sans rupture et avec enthousiasme.</p>
<p>Excellents préparatifs et à très bientôt,</p>
<p><strong>Le colonel Lionel GUY,</strong></p>
<p><strong>commandant le régiment du Service militaire adapté de la Guyane</strong></p> 	</div>

	
							</div>

                                    </main>
            </div>
                    </div>

        		
        <div id="bottom" class="container">
        	
        </div>

                
