      <%=content_for :title do%>Mutation
<%end%>
			        
                
        <div id="maincontainer" class="row-fluid container">
			            <div class="span12">
                <main>
                                        <div id="system-message-container">
	</div>

                    <div class="item-page" itemscope="" itemtype="https://schema.org/Article">
	<meta itemprop="inLanguage" content="fr-FR">
	
		
			<div class="page-header">
		<h2 itemprop="headline">
			Mutation		</h2>
							</div>
					
		
	
	
		
								<div itemprop="articleBody">
		<p><img src="./mutation_files/Etat_major_RSMA_2021_site.jpg" alt="Etat major RSMA 2021 site" width="450" height="213" style="display: block; margin-left: auto; margin-right: auto;"></p>
<p>Vous êtes mutés au RSMA Guyane, demandez à ce que le<strong> livret d’accueil</strong> vous soit transmis par mail en précisant votre grade, nom et prénom aux adresses suivantes&nbsp;:</p>
<ul>
<li>Président des officiers et son adjoint: <span id="cloak5137bbc52e46396bbd8e9fc0ce1c42b1"><a href="mailto:po@guyane-sma.fr">po@guyane-sma.fr</a></span><script type="text/javascript">
				document.getElementById('cloak5137bbc52e46396bbd8e9fc0ce1c42b1').innerHTML = '';
				var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
				var path = 'hr' + 'ef' + '=';
				var addy5137bbc52e46396bbd8e9fc0ce1c42b1 = 'p&#111;' + '&#64;';
				addy5137bbc52e46396bbd8e9fc0ce1c42b1 = addy5137bbc52e46396bbd8e9fc0ce1c42b1 + 'g&#117;y&#97;n&#101;-sm&#97;' + '&#46;' + 'fr';
				var addy_text5137bbc52e46396bbd8e9fc0ce1c42b1 = 'p&#111;' + '&#64;' + 'g&#117;y&#97;n&#101;-sm&#97;' + '&#46;' + 'fr';document.getElementById('cloak5137bbc52e46396bbd8e9fc0ce1c42b1').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy5137bbc52e46396bbd8e9fc0ce1c42b1 + '\'>'+addy_text5137bbc52e46396bbd8e9fc0ce1c42b1+'<\/a>';
		</script><em><br></em></li>
<li>Président des sous-officiers et son adjoint: <span id="cloakfd78c7d8a83de557b8dd22f558098513"><a href="mailto:pso@guyane-sma.fr">pso@guyane-sma.fr</a></span><script type="text/javascript">
				document.getElementById('cloakfd78c7d8a83de557b8dd22f558098513').innerHTML = '';
				var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
				var path = 'hr' + 'ef' + '=';
				var addyfd78c7d8a83de557b8dd22f558098513 = 'ps&#111;' + '&#64;';
				addyfd78c7d8a83de557b8dd22f558098513 = addyfd78c7d8a83de557b8dd22f558098513 + 'g&#117;y&#97;n&#101;-sm&#97;' + '&#46;' + 'fr';
				var addy_textfd78c7d8a83de557b8dd22f558098513 = 'ps&#111;' + '&#64;' + 'g&#117;y&#97;n&#101;-sm&#97;' + '&#46;' + 'fr';document.getElementById('cloakfd78c7d8a83de557b8dd22f558098513').innerHTML += '<a ' + path + '\'' + prefix + ':' + addyfd78c7d8a83de557b8dd22f558098513 + '\'>'+addy_textfd78c7d8a83de557b8dd22f558098513+'<\/a>';
		</script><em><br></em></li>
<li>Président des militaires du rang et son adjoint: <span id="cloak34208d23a5baec6e60f842b14144da10"><a href="mailto:pevat@guyane-sma.fr">pevat@guyane-sma.fr</a></span><script type="text/javascript">
				document.getElementById('cloak34208d23a5baec6e60f842b14144da10').innerHTML = '';
				var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
				var path = 'hr' + 'ef' + '=';
				var addy34208d23a5baec6e60f842b14144da10 = 'p&#101;v&#97;t' + '&#64;';
				addy34208d23a5baec6e60f842b14144da10 = addy34208d23a5baec6e60f842b14144da10 + 'g&#117;y&#97;n&#101;-sm&#97;' + '&#46;' + 'fr';
				var addy_text34208d23a5baec6e60f842b14144da10 = 'p&#101;v&#97;t' + '&#64;' + 'g&#117;y&#97;n&#101;-sm&#97;' + '&#46;' + 'fr';document.getElementById('cloak34208d23a5baec6e60f842b14144da10').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy34208d23a5baec6e60f842b14144da10 + '\'>'+addy_text34208d23a5baec6e60f842b14144da10+'<\/a>';
		</script><em><br></em></li>
</ul>
<p>&nbsp;</p>
<p><strong>Suivez, dès à présent, le RSMA Guyane sur <a href="https://www.facebook.com/RSMAdelaGuyane" target="_blank" rel="noopener">Facebook</a>, <a href="https://twitter.com/RSMA_Gy" target="_blank" rel="noopener">Twitter </a>et <a href="https://www.instagram.com/rsma_guyane/" target="_blank" rel="noopener">Instagram</a></strong></p>
<p>&nbsp;</p>
<p>Ville de <a href="http://www.ville-cayenne.fr/" target="_blank" rel="noopener"><strong>Cayenne</strong></a>&nbsp;: <a href="http://www.ville-cayenne.fr/">www.ville-cayenne.fr</a>. Cayenne sur <a href="https://www.facebook.com/villedecayenne" target="_blank" rel="noopener"><strong>Facebook</strong></a></p>
<p>Ville de <a href="https://www.guyane-amazonie.fr/" target="_blank" rel="noopener"><strong>Saint-Laurent du Maroni</strong></a>&nbsp;: <a href="http://www.saintlaurentdumaroni.fr/">www.saintlaurentdumaroni.fr</a></p>
<p>Saint-Laurent du Maroni sur <a href="https://www.facebook.com/villedesaintlaurentdumaroni" target="_blank" rel="noopener"><strong>Facebook</strong></a></p>
<p>Préfecture de la région <a href="https://www.guyane.gouv.fr/" target="_blank" rel="noopener"><strong>Guyane</strong></a>&nbsp;: <a href="http://www.guyane.gouv.fr/">www.guyane.gouv.fr</a></p>
<p>La préfecture sur <a href="https://www.facebook.com/prefetdelaregionguyane" target="_blank" rel="noopener"><strong>Facebook</strong></a></p>
<p>Crèches <a href="https://www.maiavillage.fr/nos-villages">Maïa Village</a> sur Saint-laurent du Maroni et Matoury, près de Cayenne</p>
<p>Crèches multi-accueil, <a href="https://boiscanon973.fr/">association Bois Canon</a>, Cayenne</p> 	</div>

	
							</div>

                                    </main>
            </div>
                    </div>

        		
        <div id="bottom" class="container">
        	
        </div>

                
